/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar masthead ::::: */

#composeToolbar > .toolbar-holder > .toolbar-primary-icon {
  background-image: url("chrome://messenger/skin/messengercompose/icons/mast-msgcomp.png");
}

/* ::::: primary toolbar buttons ::::: */

#button-send {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(374px 49px 407px 0);
}

#button-send:hover {
  -moz-image-region: rect(374px 99px 407px 50px);
} 

#button-send:hover:active {
  -moz-image-region: rect(374px 149px 407px 100px);
} 

#button-send[disabled="true"] {
  -moz-image-region: rect(374px 199px 407px 150px) !important;
} 

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(306px 49px 339px 0);
}

#button-address:hover {
  -moz-image-region: rect(306px 99px 339px 50px);
} 

#button-address:hover:active {
  -moz-image-region: rect(306px 149px 339px 100px);
} 

#button-address[disabled="true"] {
  -moz-image-region: rect(306px 199px 339px 150px) !important;
} 

#button-attach {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(340px 49px 373px 0);
}

#button-attach:hover {
  -moz-image-region: rect(340px 99px 373px 50px);
} 

#button-attach:hover:active {
  -moz-image-region: rect(340px 149px 373px 100px);
} 

#button-attach[disabled="true"] {
  -moz-image-region: rect(340px 199px 373px 150px) !important;
} 

#spellingButton {
  list-style-image: url("chrome://editor/skin/icons/btn1.png");
  -moz-image-region: rect(272px 49px 305px 0);
}

#spellingButton:hover {
  -moz-image-region: rect(272px 99px 305px 50px);
}

#spellingButton:hover:active {
  -moz-image-region: rect(272px 149px 305px 100px);
}

#spellingButton[disabled="true"] {
  -moz-image-region: rect(272px 199px 305px 150px) !important;
}

#button-save {
  list-style-image: url("chrome://editor/skin/icons/btn1.png");
  -moz-image-region: rect(238px 49px 271px 0);
}

#button-save:hover {
  -moz-image-region: rect(238px 99px 271px 50px);
} 

#button-save:hover:active {
  -moz-image-region: rect(238px 149px 271px 100px);
} 

#button-save[disabled="true"] {
  -moz-image-region: rect(238px 199px 271px 150px) !important;
} 

/* To workaround that the mailnews icons are all 33px tall and do not have small versions */
toolbar[iconsize="small"] > toolbarpaletteitem > #print-button,
toolbar[iconsize="small"] > #print-button,
#print-button {
  list-style-image: url("chrome://communicator/skin/icons/common.png");
  -moz-image-region: rect(5px 42px 38px 0);
}

toolbar[iconsize="small"] > #print-button:hover,
#print-button:hover {
  -moz-image-region: rect(5px 84px 38px 42px);
}

toolbar[iconsize="small"] > #print-button:hover:active,
#print-button:hover:active {
  -moz-image-region: rect(5px 126px 38px 84px);
}

toolbar[iconsize="small"] > #print-button[disabled="true"],
#print-button[disabled="true"] {
  -moz-image-region: rect(5px 168px 38px 126px) !important;
}

/* ::::: special toolbar colors ::::: */

#MsgHeadersToolbar {
  background: #B1BDC9;
}

#FormatToolbar {
  background: url("chrome://global/skin/toolbar/tb-mid.png") #C7D0D9 repeat-x top;
}

#MsgHeadersToolbar > toolbargrippy,
#MsgHeadersToolbar > .toolbar-holder,
#FormatToolbar > toolbargrippy,
#FormatToolbar > .toolbar-holder {
  border-top: 1px solid #CED6DD;
  border-right: 1px solid #95A0AD;
  border-bottom: 1px solid #95A0AD;
  border-left: 1px solid #DAE3ED;
}

#MsgHeadersToolbar > toolbargrippy:hover:active,
#FormatToolbar > toolbargrippy:hover:active {
  border-color: #67737E;
}

.toolbox-top {
  border-bottom: none;
}

#attachmentbucket-sizer {
  border-top: none;
  border-bottom: none;
  background-color: #B1BDC9;
}

#compose-toolbar-sizer {
  border-top-width: 1px;
  -moz-border-top-colors: #EEF0F3;
}

#FontFaceSelect {
  max-width: 35ch;
}

/* ::::: autocomplete icons ::::: */

treechildren::-moz-tree-cell-text(default-match) {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 15px;
  margin-inline-end: -3px;
  border: none;
}

treechildren::-moz-tree-image(local-abook) {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 4px;
  margin-inline-end: -3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/myaddrbk.png");
}

treechildren::-moz-tree-image(remote-abook) {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 3px;
  margin-inline-end: -4px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/directory.png");
}

treechildren::-moz-tree-image(remote-err) {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 3px;
  margin-inline-end: -4px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/directory-down.png");
}

treechildren::-moz-tree-image(subscribed-news) {
  margin-inline-start: 3px;
  margin-inline-end: -4px;
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.png");
}
