/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Styles to alter look of things in the Editor content window 
 *  for the "All Tags Edit Mode" Every HTML tag shows up as an icon.
*/

/* For "userdefined" or "unknown" tags
   (Note that "_" must be escaped)
*/

*:not(a):not(abbr):not(acronym):not(address):not(applet):not(area):not(b):not(base):not(basefont):not(bdo):not(bgsound):not(big):not(blink):not(blockquote):not(body):not(br):not(button):not(canvas):not(caption):not(center):not(cite):not(code):not(col):not(colgroup):not(dd):not(del):not(dfn):not(dir):not(div):not(dl):not(dt):not(em):not(embed):not(fieldset):not(font):not(form):not(frame):not(frameset):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(head):not(hr):not(html):not(i):not(iframe):not(image):not(img):not(input):not(ins):not(isindex):not(kbd):not(keygen):not(label):not(legend):not(li):not(link):not(listing):not(map):not(marquee):not(menu):not(meta):not(multicol):not(nobr):not(noembed):not(noframes):not(noscript):not(object):not(ol):not(optgroup):not(option):not(p):not(param):not(plaintext):not(pre):not(q):not(s):not(samp):not(script):not(select):not(server):not(small):not(sound):not(spacer):not(span):not(strike):not(strong):not(style):not(sub):not(sup):not(table):not(tbody):not(td):not(textarea):not(tfoot):not(th):not(thead):not(title):not(tr):not(tt):not(u):not(ul):not(var):not(wbr):not(xmp) {
  display: inline;
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 16px; 
  background-image: url(chrome://editor/content/images/tag-userdefined.png);
  background-repeat: no-repeat;
  background-position: top left;
}

a:not([\_moz_anonclass]) {
  min-height: 16px; margin-left: 2px; margin-top: 2px;
  padding-left: 20px; 
  background-image: url(chrome://editor/content/images/tag-a.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

abbr {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 35px; 
  background-image: url(chrome://editor/content/images/tag-abr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}


acronym {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 57px; 
  background-image: url(chrome://editor/content/images/tag-acr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

address {
  min-height: 44px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-adr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

applet {
  min-height: 35px; margin-top: 2px;
  padding-left: 47px; 
  background-image: url(chrome://editor/content/images/tag-app.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

area {
  min-height: 35px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-ara.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

b {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 20px; 
  background-image: url(chrome://editor/content/images/tag-b.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

basefont {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 57px; 
  background-image: url(chrome://editor/content/images/tag-bsf.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

bdo {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-bdo.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

big {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-big.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

blockquote {
  min-height: 44px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-blq.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

body {
  min-height: 36px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-body.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

br {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-br.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

button {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 57px; 
  background-image: url(chrome://editor/content/images/tag-btn.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

caption {
  min-height: 35px; margin-top: 2px;
  padding-left: 55px; 
  background-image: url(chrome://editor/content/images/tag-cpt.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

center {
  min-height: 44px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-ctr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

cite {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-cit.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

code {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-cod.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

col {
  min-height: 35px; margin-left: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-col.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

colgroup {
  min-height: 35px; margin-left: 2px;
  padding-left: 51px; 
  background-image: url(chrome://editor/content/images/tag-clg.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

dd {
  min-height: 35px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-dd.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

del {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-del.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

dfn {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-dfn.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

dir {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-dir.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

div {
  min-height: 24px; margin-top: 2px;
  /* TEMPORARY TO COMPENSATE FOR BUG */
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-div.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

input div {
  min-height: 0px; margin-left: 0px; margin-top: 0px;
  padding-left: 0px; 
  background-image: none;
}

dl {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-dl.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

dt {
  min-height: 35px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-dt.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

em {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-em.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

fieldset {
  min-height: 44px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-fld.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

font {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-fnt.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

form {
  min-height: 36px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-for.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

frame {
  min-height: 40px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-frm.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

frameset {
  min-height: 44px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-fst.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

h1 {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-h1.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

h2 {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-h2.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

h3 {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-h3.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

h4 {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-h4.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

h5 {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-h5.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

h6 {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-h6.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

hr {
  min-height: 20px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-hr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

i {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 20px; 
  background-image: url(chrome://editor/content/images/tag-i.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

iframe {
  min-height: 35px; margin-left: 2px;
  padding-left: 47px; 
  background-image: url(chrome://editor/content/images/tag-ifr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

img:not([\_moz_anonclass]) {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-img.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

input {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-inp.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

ins {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-ins.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

isindex {
  min-height: 40px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-isx.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

kbd {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-kbd.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

label {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-lbl.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

legend {
  min-height: 35px; margin-top: 2px;
  padding-left: 49px; 
  background-image: url(chrome://editor/content/images/tag-lgn.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

li {
  min-height: 35px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-li.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

listing {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 57px; 
  background-image: url(chrome://editor/content/images/tag-lst.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

map {
  min-height: 35px; margin-left: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-map.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

menu {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-men.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

nobr {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-nbr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

noframes {
  min-height: 44px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-nfr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

noscript {
  min-height: 44px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-nsc.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

object {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 49px; 
  background-image: url(chrome://editor/content/images/tag-obj.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

ol {
  min-height: 38px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-ol.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

optgroup {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 51px; 
  background-image: url(chrome://editor/content/images/tag-opg.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

option {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 47px; 
  background-image: url(chrome://editor/content/images/tag-opt.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

p {
  min-height: 38px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-p.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

param {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 43px; 
  background-image: url(chrome://editor/content/images/tag-prm.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

plaintext {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 57px; 
  background-image: url(chrome://editor/content/images/tag-pln.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

pre {
  min-height: 24px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-pre.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

q {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 20px; 
  background-image: url(chrome://editor/content/images/tag-q.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

s {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 20px; 
  background-image: url(chrome://editor/content/images/tag-s.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

samp {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-smp.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

script {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 45px; 
  background-image: url(chrome://editor/content/images/tag-scr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

select {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 47px; 
  background-image: url(chrome://editor/content/images/tag-slc.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

small {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 41px; 
  background-image: url(chrome://editor/content/images/tag-sml.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

span:not([\_moz_anonclass]) {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  /* TEMPORARY TO COMPENSATE FOR BUG */
  padding-left: 39px; 
  background-image: url(chrome://editor/content/images/tag-spn.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

strike {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 45px; 
  background-image: url(chrome://editor/content/images/tag-stk.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

strong {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 51px; 
  background-image: url(chrome://editor/content/images/tag-stn.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

sub {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-sub.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

sup {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-sup.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

/* The background image technique is not working for 
   some table elements. Trying the "before" strategy
*/

table {
  min-height: 40px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-tbl.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

tbody {
  min-height: 42px; margin-left: 2px; margin-top: 1px;
  padding-left: 17px; 
  content: url(chrome://editor/content/images/tag-tbd.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

td {
  min-height: 22px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-td.png);

  background-repeat: no-repeat;
  background-position: top left;
}

textarea {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 59px; 
  background-image: url(chrome://editor/content/images/tag-txt.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

tfoot {
  min-height: 42px; margin-left: 2px; margin-top: 1px;
  padding-left: 17px; 
  content: url(chrome://editor/content/images/tag-tft.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

th {
  min-height: 22px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-th.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

thead {
  min-height: 42px; margin-left: 2px; margin-top: 1px;
  padding-left: 17px; 
  content: url(chrome://editor/content/images/tag-thd.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

tr {
  min-height: 22px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-tr.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

tt {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-tt.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

u {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 23px; 
  background-image: url(chrome://editor/content/images/tag-u.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

ul {
  min-height: 20px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-ul.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

var {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-var.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

xmp {
  min-height: 35px; margin-left: 2px; margin-top: 2px;
  padding-left: 31px; 
  background-image: url(chrome://editor/content/images/tag-xmp.png);
  background-repeat: no-repeat; 
  background-position: top left;
}


/* These are tags that we DON'T want to show icons for.
   We have images for them in case we want to utilize them
   for some other purpose than the "All Tags" editor mode

html {
  min-height: 36px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-html.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

head {
  min-height: 36px; margin-left: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-hed.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

These are tags that are ONLY allowed as children of HEAD:

title {
  min-height: 40px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-ttl.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

base {
  min-height: 36px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-bas.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

style {
  min-height: 40px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-stl.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

meta {
  min-height: 36px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-met.png);
  background-repeat: no-repeat; 
  background-position: top left;
}

link {
  min-height: 30px; margin-left: 2px; margin-top: 2px;
  padding-left: 17px; 
  background-image: url(chrome://editor/content/images/tag-lnk.png);
  background-repeat: no-repeat; 
  background-position: top left;
}
*/
