/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


modebox,
modevbox {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#modebox);
  -moz-user-focus: normal;
}

modevbox {
  -moz-box-orient: vertical;
}

toolbarbutton[doubleimage="true"] {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#doubleimage-toolbarbutton);
}

toolbarbutton[todaypane="true"] {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#todaypane-toolbarbutton);
}

minimonth {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#minimonth");
}

minimonth-header {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#active-minimonth-header");
}

minimonth-header[readonly="true"] {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#minimonth-header");
}

dragndropContainer {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#dragndropContainer);
}

tab[calview] {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#view-tab);
}
