/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== profile.css ====================================================
  == Styles for Profile Manager window and dialogs.
  ======================================================================= */

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Profile Selection dialog ::::: */

treechildren::-moz-tree-image {
  margin-inline-end: 2px;
  list-style-image: url("chrome://communicator/skin/profile/profile.png");
}

treechildren::-moz-tree-image(rowMigrate-no) {
  list-style-image: url("chrome://communicator/skin/profile/migrate.png");
}

/* Override global.css */
hbox.wizard-box {
  padding: 10px 10px 10px 10px;
}

#intro,
#label {
  width: 17em;
}

#managebuttons > button {
  min-width: 8em;
}

#finishtext {
  margin-top: -20px;
}
