/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://chat/skin/status.css");

.im-placeholder-screen {
  color: -moz-FieldText;
  background-color: -moz-Field;
  overflow: auto;
  font-size: 15px;
  font-weight: normal;
}

.im-placeholder-box {
  max-width: calc(500px + 9em);
  min-height: 3em;
  background: url("chrome://global/skin/icons/info.svg") left 0 no-repeat;
  background-size: 3em;
  margin-right: .5em;
  margin-left: .5em;
  padding-right: 4.5em;
  padding-left: 4.5em;
}

.im-placeholder-innerbox {
  opacity: .8;
}

.im-placeholder-title {
  font-size: 2em;
  font-weight: lighter;
  line-height: 1.2;
  margin: 0;
  margin-bottom: .5em;
  padding-bottom: .4em;
  border-bottom: 1px solid -moz-FieldText;
}

.im-placeholder-desc {
  margin-right: 0;
  margin-left: 0;
}

#noPreviousConvDesc {
  margin-top: 0;
  margin-bottom: 0;
}

.im-placeholder-button-box > button {
  -moz-appearance: none;
  /* override forms.css */
  font: inherit;
  min-height: 30px;
  color: -moz-FieldText;
  border: 1px solid -moz-FieldText;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  border-radius: 2px;
  background-color: -moz-Field;
}

.im-placeholder-button-box> button:hover {
  color: -moz-ButtonHoverText;
  background-color: -moz-ButtonHoverFace;
}

.im-placeholder-button-box > button > .button-box {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

#contactlistbox {
  margin: 0 0;
}

imgroup {
  padding-inline-start: 4px;
}

imgroup > label {
  margin-inline-start: 4px;
}

imcontact, imconv {
  padding-inline-start: 23px;
}

imgroup,
imconv[unread] {
  font-weight: bold;
}

imconv[attention] {
  color: blue;
}

.conv-hbox {
  -moz-box-align: center;
}

/* From instantbird/themes/blist.css */
.contactStatusText,
.convStatusText {
  color: GrayText;
}

.contactDisplayName,
.convDisplayName {
  margin-inline-end: 0;
}

imcontact[aliasing] .contactDisplayName {
  -moz-binding: url("chrome://global/content/bindings/textbox.xml#textbox");
}

.contactStatusText,
.convStatusText {
  margin-inline-start: 0;
}

/* Avoid a strange jumping bug when hovering and the startChatBubble appears */
.contact-vbox {
  min-height: 40px;
}

.startChatBubble,
.closeConversationButton {
  margin: 0 3px;
  padding: 0;
  border: none;
  background: transparent;
  -moz-binding: url('chrome://global/content/bindings/button.xml#button-image');
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.startChatBubble {
  list-style-image: url('chrome://chat/skin/prpl-generic/icon.png');
}

.closeConversationButton {
  margin-inline-end: 0;
  -moz-stack-sizing: ignore;
%ifdef XP_WIN
  list-style-image: url("chrome://global/skin/icons/close-win7.png");
%else
  list-style-image: url("chrome://global/skin/icons/close.png");
%endif
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.closeConversationButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.closeConversationButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}


/* From im/themes/conversation.css */
.browser {
  margin: 0 0;
}

.conv-bottom, .conv-nicklist {
  margin: 0 0;
}

.convBox {
  min-height: 135px;
}

.conv-top {
  min-height: 60px;
}

.conv-top-info {
  margin: 0 0;
  padding: 0 0;
  border-style: none;
  -moz-appearance: none;
%ifdef XP_MACOSX
  /* Copy of .main-header-area from osx/mail/messageHeader.css */
  color: #2E3436; /* Aluminium 6 */
  border-bottom:1px solid #BFBFBF !important;
  padding: 0.6ex;
%else
  background-color: -moz-Dialog;
%ifdef XP_WIN
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
%else
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
%endif
%ifndef XP_WIN
  border-bottom: 1px solid ThreeDShadow;
%else
  border-bottom: none;
%endif
%endif
}

.userIconHolder {
  border: 2px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  overflow: hidden;
}

.userIcon,
.userIconHolder {
  max-width: 48px;
  max-height: 48px;
  width: 48px;
  height: 48px;
}

.userIcon:not([src]),
.userIconHolder:not([userIcon]) {
  display: none;
}

.userIcon[src=""] {
  background-image: url("chrome://messenger/skin/userIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.statusTypeIcon {
  margin: 0 0;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
}


.statusTypeIcon[typing] {
  list-style-image: url('chrome://chat/skin/typing-16.png');
}

.statusTypeIcon[typed] {
  list-style-image: url('chrome://chat/skin/typed-16.png');
}


.statusMessage {
  margin: 0 0 !important;
%ifdef XP_MACOSX
  min-height: 16px;
%endif
}

.statusMessage[noTopic]:not([editing]),
.statusMessageWithDash[noTopic] {
  font-style: italic;
}

.status-overlay-icon[status="away"],
.status-overlay-icon[status="unavailable"] {
  list-style-image: url('chrome://chat/skin/away.png');
}

.status-overlay-icon[status="idle"] {
  list-style-image: url('chrome://chat/skin/idle.png');
}

.status-overlay-icon[status="mobile"] {
  list-style-image: url('chrome://chat/skin/mobile.png');
}

.status-overlay-icon[status="offline"] {
  list-style-image: url('chrome://chat/skin/offline.png');
}

.status-overlay-icon[status="unknown"] {
  list-style-image: url('chrome://chat/skin/unknown.png');
}

/* corresponds to im/themes/conversation.css @media all and (min-height: 251px) */
.statusImageStack,
.displayNameAndstatusMessageStack {
  margin: 2px 2px;
}

.statusMessage {
  margin-top: 32px !important;
}

.statusMessage[editing] {
%ifdef XP_MACOSX
  margin: 29px 0 -1px -4px !important;
%else
%ifdef XP_WIN
  margin: 28px 0 -1px -2px !important;
%else
  margin: 29px 0 -3px -4px !important;
%endif
%endif
}

.displayName {
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  margin: 0 0 16px !important;
  padding-right: 20px;
}

.prplIcon {
  margin: 0 1px 16px -16px !important;
}

.statusTypeIcon {
  margin: 32px 0 0;
}

.userIconHolder[userIcon] + .statusTypeIcon {
  margin-left: 32px;
}

.conv-messages {
  min-width: 150px;
%ifndef XP_MACOSX
%ifndef XP_WIN
  border-bottom: solid 1px GrayText;
%else
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-left: none;
  border-right: none !important;
%endif
%endif
}

%ifndef XP_MACOSX
.conv-messages[chat] {
  border-right: solid 1px GrayText;
}
%endif


/* Animation copied from the find bar in Firefox - http://dxr.mozilla.org/mozilla-central/source/toolkit/themes/linux/global/findBar.css#7 */
.conv-status-container {
  display: block;
  height: 20px;
  padding: 3px;
  border-bottom: 1px solid ThreeDShadow;
  transition-property: margin-top, opacity, visibility;
  transition-duration: 150ms, 150ms, 0s;
  transition-timing-function: ease-in-out, ease-in-out, linear;
}

.conv-status-container[hidden] {
  /* Override display:none to make the transition work. */
  display: -moz-box;
  visibility: collapse;
  margin-top: -1em;
  opacity: 0;
  transition-delay: 0s, 0s, 150ms;
}

%ifdef XP_MACOSX
.conv-textbox {
  -moz-appearance: none;
  margin: 0;
  padding: 3px;
  border: none;
  box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.6);
}

.conv-textbox[focused="true"] {
  box-shadow: inset 0 0 2px 1px rgba(40, 120, 212, 0.9),
                    0 0 2px 0px rgba(40, 120, 212, 0.6),
              inset 0 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.conv-textbox[invalidInput="true"] {
  box-shadow: inset 0 0 2px 1px rgba(255, 0, 0, 0.9),
                    0 0 2px 0px rgba(255, 0, 0, 0.6),
              inset 0 1px 2px 0px rgba(0, 0, 0, 0.4);
}

%else
.conv-textbox {
  padding: 2px;
  box-sizing: content-box;
  border: 1px solid transparent;
}

.conv-textbox[invalidInput="true"] {
  border-color: red;
}

.conv-textbox > .textbox-input-box {
  background: inherit;
}
%endif

.conv-counter {
  color: #000;
  background-color: rgba(246, 246, 246, 0.7);
  border-inline-start: 1px solid rgb(200, 200, 200);
  border-top: 1px solid rgb(200, 200, 200);
  /* Padding that gets flipped to margins in .conv-counter[value^="0"] to avoid the red border. */
  font-size: 130%;
  padding-top: 0;
  padding-bottom: 1px;
  padding-inline-start: 5px;
  padding-inline-end: 6px;
  margin: 0;
}

.conv-counter:-moz-locale-dir(ltr) {
  border-top-left-radius: 3px;
}

.conv-counter:-moz-locale-dir(rtl) {
  border-top-right-radius: 3px;
}

.conv-counter[value=""] {
  display: none;
}

/* Negative counter values (user went over the character limit). */
.conv-counter[value^="-"] {
  color: red;
}

%ifndef XP_MACOSX
.conv-counter[value^="-"] {
  margin-bottom: 1px;
  /* The 6px padding-end from .conv-counter is split into a 1px margin-end (to avoid the border) and 5px padding-end (as regular padding). */
  margin-inline-end: 1px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-inline-end: 5px;
}

%else
.conv-counter {
  padding-bottom: 0;
  padding-inline-end: 5px;
  margin-inline-end: 2px;
  margin-bottom: 2px !important; /* override 4px from description */
}

grippy {
  display: none;
}
%endif

.splitter {
  margin: 0;
  border-style: none;
%ifdef XP_MACOSX
  min-height: 2px;
  background: linear-gradient(rgba(0,0,0,0.35), transparent);
%else
  height: 3px;
  background: transparent;
%endif
}

#conv-toolbar {
  border-style: none;
}

#logTree {
  margin: 0 0;
}

.conv-nicklist > .listitem-iconic > .listcell-iconic > .listcell-label {
  font-weight: bold;
  padding-inline-start: 1px;
%ifdef XP_MACOSX
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
%endif
}

.conv-nicklist > .listitem-iconic > .listcell-iconic > .listcell-icon {
  min-width: 16px;
  margin: 0 2px;
}

.conv-logs-header-label {
  -moz-appearance: treeheadercell;
  margin: 0 -1px 0 0;
  padding-left: 3px;
}

%ifdef XP_MACOSX
.conv-nicklist-header {
  -moz-appearance: treeheadercell;
  margin-right: -1px;
}

%endif
.conv-nicklist-header-label {
%ifdef XP_MACOSX
  margin-inline-start: 3px !important;
  margin-top: 1px !important;
  margin-bottom: 0 !important;
%else
  font-weight: bold;
  margin-inline-start: 0 !important;
%endif
  margin-inline-end: 2px !important;
}

%ifdef XP_MACOSX
.conv-nicklist, #logTree {
  -moz-appearance: none;
  width: 250px;
  border: 0px;
}
%endif
%ifdef XP_WIN
.splitter.conv-chat {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

/* Splitter style change above somehow made it smaller, fix this here: */
grippy {
  margin: 0 1px;
}
%endif

.listitem-iconic[inactive] > .listcell-iconic > .listcell-icon {
  opacity: 0.45;
}

.listitem-iconic[inactive][selected] > .listcell-iconic > .listcell-icon {
  opacity: 0.7;
}

.listitem-iconic[inactive] > .listcell-iconic > .listcell-label {
  color: GrayText !important;
  font-weight: normal;
}

.listitem-iconic[inactive][selected] > .listcell-iconic > .listcell-label {
%ifdef MACOSX
  color: -moz-DialogText !important;
%else
  color: -moz-cellhighlighttext !important;
%endif
}

.conv-nicklist:focus > .listitem-iconic[inactive][selected] > .listcell-iconic > .listcell-label {
  color: HighlightText !important;
}


/* from instantbird/themes/blist.css */
imgroup .twisty {
  padding-top: 1px;
  width: 8px; /* The image's width is 8 pixels */
  height: 8px;
%ifndef XP_MACOSX
  margin-inline-end: 3px;
%else
  margin-inline-end: 2px;
%endif
  margin-inline-start: 3px;
  background: url("chrome://global/skin/icons/twisty-expanded.svg") no-repeat center;
  -moz-context-properties: fill;
  fill: currentColor;
}

imgroup[closed] .twisty {
  background: url("chrome://global/skin/icons/twisty-collapsed.svg") no-repeat center;
}

imgroup[closed]:-moz-locale-dir(rtl) .twisty {
  background: url("chrome://global/skin/icons/twisty-collapsed-rtl.svg");
}

#searchResultConv > .prplBuddyIcon > .protoIcon {
  list-style-image: url(chrome://messenger/skin/icons/search-glass.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  opacity: 0.54;
}

#statusTypeIcon {
  min-width: 40px;
}

/* show the status icon also in text mode */
toolbar[mode="text"] #statusTypeIcon > .toolbarbutton-icon {
  display: -moz-box;
}

.statusMessageToolbarItem {
  margin: 2px 4px;
  margin-inline-start: -1px;
  padding: 3px 5px 4px;
  border: 1px solid transparent;
}

#chat-status-selector:hover > .statusMessageToolbarItem,
.statusMessageToolbarItem:focus {
  border-color: ThreeDShadow;
}

.statusMessageToolbarItem[statusType="offline"],
.statusMessageToolbarItem[disabled] {
  border: none;
}

#chat-status-selector > .statusMessageToolbarItem[editing] {
  -moz-appearance: none;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  border-color: ThreeDShadow;
  background-color: -moz-field;
}

.tabmail-tab[type="chat"],
.alltabs-item[type="chat"] {
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}
