/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#Chat {
  white-space: normal;
}

/* The "#chat " is required to override "#Chat *" from conv.css */
#Chat .pseudo {
  overflow-x: hidden !important;
}

.message {
  clear: both;
}

.pseudo {
  font-weight: bold;
  float: left;
  width: calc(15% - 3px);
  text-align: right;
  padding-bottom: 5px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.outgoing > .pseudo {
  color: rgb(80, 80, 200);
}

.incoming > .pseudo {
  color: rgb(200, 80, 80);
}

.message:not(.action) > .next {
  visibility: hidden;
}

.date {
  font-style: normal;
  font-weight: normal;
  float: right;
  color: GrayText;
}

.message > .ib-msg-txt,
.event {
  display: block;
  margin-left: 15%;
  padding-bottom: 5px;
}

p.event {
  margin-left: 0;
}

.usericon {
  display: none;
}

.event {
  color: GrayText;
  clear: both;
}

.nick {
  font-weight: bold;
}

.nick > .pseudo {
  text-decoration: underline;
}

.action {
  font-style: italic;
}

.context {
  color: rgb(91, 91, 91);
}

.context > .pseudo {
  opacity: 0.7;
}

p {
  margin: 0px auto;
}

p *:any-link img {
  margin-bottom: 1px;
  border-bottom: solid 1px;
}

.sessionstart-ruler {
  margin: 8px 0 12px;
  width: 100%;
  border: none;
  border-top: 1px dashed GrayText;
}


/* used by javascript */
.eventToggle {
  cursor: pointer;
  min-height: 22px;
  margin-inline-start: -20px;
  padding-inline-start: 20px;
  background: url('Bitmaps/minus.png') no-repeat left center;
  margin-bottom: -22px;
  width: 0px;
}

.eventToggle:hover {
  background: url('Bitmaps/minus-hover.png') no-repeat left center;
}

.hide-children > .eventToggle {
  width: 100%;
  margin-bottom: -5px;
  background-image: url('Bitmaps/plus.png');
}

.hide-children > .eventToggle:hover {
  background-image: url('Bitmaps/plus-hover.png');
}

.hide-children > .eventToggle:after {
  content: "\2026"; /* &hellip; */
  color: GrayText;
}

.hide-children > :-moz-any(p.event, hr):not(:first-of-type):not(:last-of-type) {
  display: none;
}
