/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://navigator/content/navigator.css");
@import url("chrome://communicator/skin/");
@import url("chrome://communicator/skin/places/bookmarksToolbar.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#main-window {
  -moz-appearance: none;
  background-color: #EEEEEE;
}

/* ::::: primary toolbar buttons ::::: */

#back-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(60px 29px 89px 0);
}

#back-button:hover:active,
#back-button[open] {
  -moz-image-region: rect(60px 59px 89px 30px);
}

#back-button[disabled="true"] {
  -moz-image-region: rect(60px 89px 89px 60px) !important;
}

#forward-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(90px 29px 119px 0);
}

#forward-button:hover:active,
#forward-button[open] {
  -moz-image-region: rect(90px 59px 119px 30px);
}

#forward-button[disabled="true"] {
  -moz-image-region: rect(90px 89px 119px 60px) !important;
}

#reload-button {
  list-style-image: url("chrome://navigator/skin/icons/navigatoricons.png");
  -moz-image-region: rect(0 29px 29px 0);
}

#reload-button:hover:active {
  -moz-image-region: rect(0 59px 29px 30px);
}

#reload-button[disabled="true"] {
  -moz-image-region: rect(0 89px 29px 60px) !important;
}

#stop-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(30px 29px 59px 0);
}

#stop-button:hover:active {
  -moz-image-region: rect(30px 59px 59px 30px);
}

#stop-button[disabled="true"] {
  -moz-image-region: rect(30px 89px 59px 60px) !important;
}

#home-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(120px 29px 149px 0);
}

#home-button:hover:active {
  -moz-image-region: rect(120px 59px 149px 30px);
}

#home-button[disabled="true"] {
  -moz-image-region: rect(120px 89px 149px 60px) !important;
}

#sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-32.png");
}

#sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-32-throbber.png");
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > toolbarpaletteitem > #back-button,
toolbar[iconsize="small"] > #back-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(40px 19px 59px 0);
}

toolbar[iconsize="small"] > #back-button:hover:active,
toolbar[iconsize="small"] > #back-button[open] {
  -moz-image-region: rect(40px 39px 59px 20px);
}

toolbar[iconsize="small"] > #back-button[disabled="true"] {
  -moz-image-region: rect(40px 59px 59px 40px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #forward-button,
toolbar[iconsize="small"] > #forward-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(60px 19px 79px 0);
}

toolbar[iconsize="small"] > #forward-button:hover:active,
toolbar[iconsize="small"] > #forward-button[open] {
  -moz-image-region: rect(60px 39px 79px 20px);
}

toolbar[iconsize="small"] > #forward-button[disabled="true"] {
  -moz-image-region: rect(60px 59px 79px 40px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #reload-button,
toolbar[iconsize="small"] > #reload-button {
  list-style-image: url("chrome://navigator/skin/icons/navigatoricons-small.png");
  -moz-image-region: rect(0 19px 19px 0);
}

toolbar[iconsize="small"] > #reload-button:hover:active {
  -moz-image-region: rect(0 39px 19px 20px);
}

toolbar[iconsize="small"] > #reload-button[disabled="true"] {
  -moz-image-region: rect(0 59px 19px 40px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #stop-button,
toolbar[iconsize="small"] > #stop-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(20px 19px 39px 0);
}

toolbar[iconsize="small"] > #stop-button:hover:active {
  -moz-image-region: rect(20px 39px 39px 20px);
}

toolbar[iconsize="small"] > #stop-button[disabled="true"] {
  -moz-image-region: rect(20px 59px 39px 40px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #home-button,
toolbar[iconsize="small"] > #home-button {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(80px 19px 99px 0);
}

toolbar[iconsize="small"] > #home-button:hover:active {
  -moz-image-region: rect(80px 39px 99px 20px);
}

toolbar[iconsize="small"] > #home-button[disabled="true"] {
  -moz-image-region: rect(80px 59px 99px 40px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button,
toolbar[iconsize="small"] > #sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button[status=active],
toolbar[iconsize="small"] > #sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-16-throbber.png");
}

#FindToolbar {
  border-top: none;
  border-bottom: 1px solid #888888;
}

/* ::::: fullscreen window controls ::::: */

#window-controls {
  -moz-box-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
}

toolbar[mode="text"] > #window-controls > toolbarbutton > .toolbarbutton-icon {
  display: -moz-box;
}

#restore-button {
  list-style-image: url("chrome://navigator/skin/icons/restore.png");
}
  
/* ::::: nav-bar-inner ::::: */

.nav-bar-class {
  -moz-box-align: center;
  min-width: 0px;
  -moz-window-dragging: drag;
}

#urlbar > .autocomplete-textbox-container {
  font: -moz-info;
}

/* nsNativeThemeCocoa adds top/bottom padding to textfields... */
#urlbar > .autocomplete-textbox-container,
#urlbar > .autocomplete-history-dropmarker {
  margin-top: -1px;
  margin-bottom: -2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#urlbar[level="high"] > .autocomplete-textbox-container {
  -moz-appearance: none;
  background-color: #FFFFC7;
  color: #000000;
}

#urlbar[level="high"] > .autocomplete-history-dropmarker {
  background-color: #FFFFC7 !important;
}

#wrapper-nav-bar-inner[place="palette"] > #nav-bar-inner > .button-toolbar,
#wrapper-nav-bar-inner[place="palette"] > #nav-bar-inner > #urlbar > .urlbar-icons {
  display: none;
}

#urlbar-search-splitter {
  min-width: 8px;
  margin: 0 -4px;
  background-image: none;
  position: relative;
  height: 22px;
}

/* ::::: notification popups ::::: */

.popup-notification-icon {
  width: 64px;
  height: 64px;
  margin-inline-end: 10px;
}

.popup-notification-icon[popupid="geolocation"] {
  list-style-image: url("chrome://communicator/skin/icons/geolocation-64.png");
}

.popup-notification-icon[popupid="persistent-storage"] {
  list-style-image: url("chrome://communicator/skin/icons/persistent-storage.svg");
}

.popup-notification-icon[popupid="web-notifications"] {
  list-style-image: url("chrome://communicator/skin/icons/notification-64.png");
}

.popup-notification-icon[popupid="addon-install-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-started"],
.popup-notification-icon[popupid="addon-install-cancelled"],
.popup-notification-icon[popupid="addon-install-failed"],
.popup-notification-icon[popupid="addon-install-complete"],
.popup-notification-icon[popupid="lwtheme-install-request"],
.popup-notification-icon[popupid="lwtheme-install-notification"] {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
  width: 32px;
  height: 32px;
}

.popup-notification-icon[popupid="indexedDB-permissions-prompt"],
.popup-notification-icon[popupid="indexedDB-quota-prompt"] {
  list-style-image: url("chrome://global/skin/icons/question-64.png");
}

.popup-notification-icon[popupid="password"] {
  list-style-image: url("chrome://communicator/skin/icons/key-64.png");
}

.addon-progress-description {
  width: 350px;
  max-width: 350px;
}

/* Notification icon box */
#notification-popup-box {
  margin: 0 3px;
}

.notification-anchor-icon:-moz-focusring {
  box-shadow: 0 0 2px 1px -moz-mac-focusring inset,
              0 0 2px 2px -moz-mac-focusring;
}

#default-notification-icon {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
  width: 16px;
  height: 16px;
}

#geo-notification-icon {
  list-style-image: url("chrome://communicator/skin/icons/geolocation-16.png");
  width: 16px;
  height: 16px;
}

#web-notifications-notification-icon {
  list-style-image: url("chrome://communicator/skin/icons/notification-16.png");
  width: 16px;
  height: 16px;
}

#addons-notification-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
  width: 16px;
  height: 16px;
}

#indexedDB-notification-icon {
  list-style-image: url("chrome://global/skin/icons/question-16.png");
  width: 16px;
  height: 16px;
}

#password-notification-icon {
  list-style-image: url("chrome://communicator/skin/icons/key-16.png");
  width: 16px;
  height: 16px;
}

#persistent-storage-notification-icon {
  list-style-image: url("chrome://communicator/skin/icons/persistent-storage.svg");
  width: 16px;
  height: 16px;
}

.center-item-box {
  border-inline-start: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 7px;
  padding-inline-end: 11px;
  padding-inline-start: 16px;
  margin-bottom: -3px;
}

.center-item-box[padbottom="true"] {
  padding-bottom: 12px;
}

.center-item-icon {
  background-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-bottom: 4px;
  margin-inline-end: 6px;
}

.center-item-box[padbottom="true"][warn="true"] {
  padding-bottom: 7px;
}

.center-item-box[showseparator="true"] {
  border-top: 1px solid rgba(3, 14, 27, 0.1);
}

.center-item-box[warn="false"] > .center-item-warning {
  display: none;
}

.center-item-warning > .text-link {
  color: #3d8cd7;
}

.center-item-warning > .text-link[href=""] {
  display: none;
}

.center-item-warning-icon {
  background-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin-bottom: 4px;
}

.center-item-warning-description {
  color: #828282;
}

.center-item-button {
  min-width: 0;
}

/* ::::: page proxy icon ::::: */

#page-proxy-deck,
#page-proxy-favicon,
#page-proxy-button {
  width: 16px;
  height: 16px;
}

#page-proxy-deck {
  cursor: grab;
  margin: 0 3px 1px 3px;
}

#page-proxy-button {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg"); 
}

#page-proxy-favicon {
  list-style-image: none;
}

#page-proxy-button[pageproxystate="invalid"] {
  cursor: default;
  list-style-image: url("chrome://communicator/skin/places/bookmark-item-dis.png");
}

/* ::::: autocomplete ::::: */

#PopupAutoComplete > richlistbox > richlistitem {
  height: 20px;
  min-height: 20px;
  border: 0;
  border-radius: 0;
  padding: 0px 1px 0px 1px;
}

#PopupAutoComplete > richlistbox > richlistitem > .ac-title {
  font: icon;
  margin-inline-start: 6px;
}

#PopupAutoComplete > richlistbox {
  padding: 0;
}

.autocomplete-textbox-container {
  -moz-box-align: center;
}

.autocomplete-treebody::-moz-tree-cell-text(value) {
  padding-inline-start: 15px;
}

.autocomplete-treebody::-moz-tree-cell-text(comment) {
 color: GrayText;
}

.autocomplete-history-popup > .popup-internal-box {
  padding: 0 !important;
}

.autocomplete-history-popup > menuitem {
  -moz-appearance: none !important;
  max-width: none !important;
  font: inherit;
  padding: 2px;
  margin: 0;
}

.autocomplete-history-popup > menuitem[_moz-menuactive="true"],
.autocomplete-search-engine[menuactive="true"] {
  background-color: Highlight !important;
  color: HighlightText !important;
}

.autocomplete-search-engine {
  border-top: 1px solid #D9D9D9; /* Same color as menuseparator is probably sane here */
  padding: 2px;
}

.autocomplete-search-engine-img {
  margin-inline-end: 4px;
  width: 16px;
  height: 16px;
}

.autocomplete-treebody::-moz-tree-cell-text(treecolAutoCompleteComment) {
  color: GrayText;
}

/* ::::: searchbutton ::::: */

#search-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-image: url("chrome://global/skin/icons/search-textbox.png");
}

toolbar[mode="text"] #search-button > .button-box > .button-icon,
toolbar[mode="icons"] #search-button > .button-box > .button-text {
  display: none;
}

/* ::::: search bar ::::: */

.autocomplete-treebody::-moz-tree-cell-text(suggesthint, treecolAutoCompleteComment),
.autocomplete-treebody::-moz-tree-cell-text(suggestfirst, treecolAutoCompleteComment) {
  color: GrayText;
  font-size: smaller;
}

.autocomplete-treebody::-moz-tree-cell(suggesthint) {
  border-top: 1px solid GrayText;
}

/* ::::: sidebar splitter ::::: */

#sidebar-splitter {
  border-left: none;
  border-right: none;
  min-width: 5px;
}

/* ::::: content area ::::: */

#security-button[level="high"] > .statusbarpanel-contentbox {
  background-color: #B4CD32;
}

#security-button[level="broken"] > .statusbarpanel-contentbox {
  background-color: #E83404;
}

#security-button[label] > .statusbarpanel-contentbox {
  background-color: #62C441;
}

#security-button > .statusbarpanel-contentbox > .statusbarpanel-text {
  margin: 0px;
  color: #FFFFFF;
  text-shadow: none;
}

/* make same background-color translucent on lwthemes */
#security-button[level="high"] > .statusbarpanel-contentbox:-moz-lwtheme {
  background-color: rgba(232, 219, 153, .8);
}

#security-button[level="broken"] > .statusbarpanel-contentbox:-moz-lwtheme {
  background-color: rgba(232, 52, 4, .8);
}

#security-button[label] > .statusbarpanel-contentbox:-moz-lwtheme {
  background-color: rgba(98, 196, 65, .8);
}

#ev-button {
  list-style-image: url("chrome://communicator/skin/icons/identity.png");
}

#popupIcon {
  list-style-image: url("chrome://navigator/skin/icons/popup-blocked.png");
}

#invalid-form-popup {
  -moz-appearance: tooltip;
  padding: 2px 3px 0px 3px;
  max-width: 40em;
  color: InfoText;
  font-weight: bold;
}

/* Set default text-shadow that we will override if this is in the PT. */
#personal-bookmarks {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* ::::: personal toolbar ::::: */

#PersonalToolbar {
  -moz-appearance: none;
  background-color: #d5d5d5;
  background-image: url("chrome://communicator/skin/toolbar/toolbar-gradient22.png");
  background-repeat: repeat-x;
  border-bottom: 1px solid rgb(159, 159, 159);
}

#PersonalToolbar:-moz-lwtheme {
  background-color: transparent;
  background-image: none;
}

/* No text-shadow when we're in the PT. */
#PersonalToolbar > toolbarbutton,
#PersonalToolbar > #personal-bookmarks {
  text-shadow: none;
}

/* text-shadow styling depends on where the items are, so use inheritance. */
#PlacesToolbar > .bookmark-item,
#PlacesToolbarItems > .bookmark-item {
  text-shadow: inherit;
}

#PersonalToolbar > toolbarbutton:hover:active,
#PersonalToolbar > toolbarbutton[open],
#PlacesToolbarItems > .bookmark-item:hover:active,
#PlacesToolbarItems > .bookmark-item[open] {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7) !important;
}

#PersonalToolbar > toolbarbutton > .toolbarbutton-text,
.bookmark-item > .toolbarbutton-text {
  margin: 0 3px 0 2px !important;
}

#PersonalToolbar > toolbarbutton > .toolbarbutton-icon,
.bookmark-item > .toolbarbutton-icon {
  padding: 0;
}

#bookmarks-button {
  list-style-image: url("chrome://global/skin/tree/folder.png");
  padding: 0;
}

toolbarbutton.chevron {
  list-style-image: url("chrome://navigator/skin/icons/chevron.png");
  height: 16px;
  width: 16px;
}

toolbarbutton.chevron > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.chevron > .toolbarbutton-text {
  display: none; /* hide chevron label which has a width even if blank */
}

toolbar[mode="text"] toolbarbutton.chevron > .toolbarbutton-icon {
  display: -moz-box; /* display chevron icon in text mode */
}

/* Prevent [mode="icons"|"text"] from hiding the label and icon */
#PlacesToolbarItems .bookmark-item > .toolbarbutton-text,
#PlacesToolbarItems .bookmark-item > .toolbarbutton-icon {
  display: -moz-box !important;
}

#PersonalToolbar[iconsize="small"] > toolbarpaletteitem > #home-button > .toolbarbutton-icon,
#PersonalToolbar[iconsize="small"] > #home-button > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

/*
  In customize mode we hide the normal bookmark items and show a placeholder
  for the drag/drop UI.
*/
.bookmarks-toolbar-customize {
  list-style-image: url("chrome://communicator/skin/places/bookmarksToolbar.png");
  display: none;
  max-width: 15em !important;
}

#wrapper-personal-bookmarks[place="palette"] > .toolbarpaletteitem-box {
  width: 16px;
  height: 16px;
  background: url("chrome://communicator/skin/places/bookmarksToolbar.png") no-repeat;
}

/* ::::: star button ::::: */

#star-button {
  list-style-image: url("chrome://communicator/skin/places/bookmark.png");
  -moz-image-region: rect(16px 16px 32px 0px);
}

#star-button:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

#star-button:hover:active {
  -moz-image-region: rect(16px 48px 32px 32px);
}

#star-button[starred="true"] {
  -moz-image-region: rect(0px 16px 16px 0px);
}

#star-button[starred="true"]:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

#star-button[starred="true"]:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

#editBookmarkPanelStarIcon {
  list-style-image: url("chrome://communicator/skin/places/bookmark.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#editBookmarkPanelTitle {
  font-size: 130%;
  font-weight: bold;
}

/* ::::: Edit bookmark panel ::::: */

#editBMPanel_rows > row {
  margin-bottom: 8px;
}

#editBMPanel_rows > row:last-of-type {
  margin-bottom: 0;
}

#editBMPanel_rows > row > textbox,
#editBMPanel_rows > row > hbox > textbox {
  -moz-appearance: none;
  background: linear-gradient(#FAFAFA, #FFFFFF);
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.05),
              0 1px rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 3px 6px;
}

#editBMPanel_rows > row > textbox[focused="true"],
#editBMPanel_rows > row > hbox > textbox[focused="true"] {
  border-color: -moz-mac-focusring !important;
  box-shadow: 0 0 1px -moz-mac-focusring inset,
              0 0 4px 1px -moz-mac-focusring,
              0 0 1.5px 1px -moz-mac-focusring;
}

.editBookmarkPanelHeaderButton,
.editBookmarkPanelBottomButton {
  -moz-appearance: none;
  color: #434343;
  border-radius: 4px;
  border: 1px solid #B5B5B5;
  background: linear-gradient(#FFFFFF, #F2F2F2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8),
              inset 0 0 1px rgba(255, 255, 255, 0.25),
              0 1px rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  background-origin: padding-box;
  margin: 0;
  padding: 2px 6px;
}

.editBookmarkPanelHeaderButton:hover:active,
.editBookmarkPanelBottomButton:hover:active {
  box-shadow: inset 0 1px 4px -3px #000, 0 1px rgba(255, 255, 255, 0.3);
}

.editBookmarkPanelHeaderButton:-moz-focusring,
.editBookmarkPanelBottomButton:-moz-focusring {
  box-shadow: inset 0 0 1px -moz-mac-focusring,
              0 0 4px 1px -moz-mac-focusring,
              0 0 2px 1px -moz-mac-focusring;
}

.editBookmarkPanelBottomButton {
  margin-inline-start: 8px;
}

.editBookmarkPanelBottomButton[default="true"] {
  background-color: #666666;
}

#editBookmarkPanelHeader {
  margin-bottom: 6px;
}

#editBMPanel_editColumn {
  color: #FFFFFF;
}

/* The following elements come from editBookmarkOverlay.xul, but the styling is
   specific to the HUD-styled editBookmarkPanel. Styling shared by all
   editBookmarkOverlay.xul consumers should be in editBookmarkOverlay.css. */

#editBMPanel_newFolderBox {
  background: linear-gradient(#FFFFFF, #F2F2F2);
  background-origin: padding-box;
  background-clip: padding-box;
  border-radius: 0 0 3px 3px;
  border: 1px solid #A5A5A5;
  box-shadow: inset 0 1px rgba(255,255, 255, 0.8),
              inset 0 0 1px rgba(255, 255, 255, 0.25),
              0 1px rgba(255, 255, 255, 0.3);
  padding: 0;
  margin: 0;
  height:  20px;
}

#editBMPanel_newFolderButton {
  -moz-appearance: none;
  border: 0 solid #A5A5A5;
  border-inline-end-width: 1px;

  padding: 0 9px;
  margin: 0;
  min-width: 21px;
  min-height: 20px;
  height: 20px;
  color: #FFFFFF;
  list-style-image: url("chrome://navigator/skin/icons/panel-plus-sign.png");
  position: relative;
}

#editBMPanel_newFolderButton .button-text {
  display: none;
}

#editBMPanel_folderMenuList,
#editBMPanel_tagsSelectorExpander,
#editBMPanel_foldersExpander {
  color: #434343;
  border-radius: 4px;
  border: 1px solid #B5B5B5;
  background: linear-gradient(#FFFFFF, #F2F2F2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8),
              inset 0 0 1px rgba(255, 255, 255, 0.25),
              0 1px rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  background-origin: padding-box;
  margin: 0;
}

#editBMPanel_folderMenuList {
  -moz-appearance: none;
  min-height: 22px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}

#editBMPanel_tagsSelectorExpander,
#editBMPanel_foldersExpander {
  margin-inline-start: 4px;
  padding-top: 2px;
  padding-inline-start: 6px;
  padding-inline-end: 2px;
  min-width: 27px;
  min-height: 22px;
}

#editBMPanel_folderMenuList > .menulist-dropmarker {
  -moz-appearance: none;
  display: -moz-box;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  padding-inline-end: 4px;
  width: 7px;
}

#editBMPanel_folderMenuList > .menulist-dropmarker > .dropmarker-icon {
  list-style-image: url("chrome://global/skin/icons/panel-dropmarker.png");
}

/**** folder tree and tag selector ****/
#editBMPanel_folderTree,
#editBMPanel_tagsSelector {
  -moz-appearance: none;
  background: linear-gradient(#FAFAFA, #FFFFFF);
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.05),
              0 1px rgba(255, 255, 255, 0.3);
  margin: 0;
}

#editBMPanel_folderTree {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* Implements editBookmarkPanel resizing on folderTree un-collapse. */
  margin: 0 !important;
  min-width: 27em;
  position: relative;
}
  

#editBMPanel_folderTree:-moz-focusring,
#editBMPanel_tagsSelector:-moz-focusring {
  border-color: -moz-mac-focusring;
  box-shadow: 0 0 4px 1px -moz-mac-focusring,
              0 0 2px 1px -moz-mac-focusring;
}

/* hover:active */
#editBMPanel_newFolderButton:hover:active,
#editBMPanel_folderMenuList[open="true"],
#editBMPanel_folderMenuList:hover:active,
#editBMPanel_tagsSelectorExpander:hover:active,
#editBMPanel_foldersExpander:hover:active {
  box-shadow: inset 0 1px 4px -3px #000000, 0 1px rgba(255, 255, 255, 0.3);
}

/* focus ring */
#editBMPanel_newFolderButton:-moz-focusring,
#editBMPanel_folderMenuList:-moz-focusring,
#editBMPanel_tagsSelectorExpander:-moz-focusring,
#editBMPanel_foldersExpander:-moz-focusring,
#editBMPanel_namePicker[droppable="false"][focused="true"] > .menulist-editable-box {
  box-shadow: inset 0 0 1px -moz-mac-focusring,
              0 0 4px 1px -moz-mac-focusring,
              0 0 2px 1px -moz-mac-focusring;
}

/* expander icons */
#editBMPanel_rows > row > hbox > .expander-up {
  list-style-image: url("chrome://navigator/skin/icons/panel-expander-open.png");
}

#editBMPanel_rows > row > hbox > .expander-down {
  list-style-image: url("chrome://navigator/skin/icons/panel-expander-closed.png");
}

.editBMPanel_rowLabel {
  text-align: end;
}

/* ::::: feeds ::::: */

.feedsMenu {
  list-style-image: url("chrome://communicator/skin/icons/feedIcon16.png");
}

#BMB_feedsMenu[disabled="true"] {
  list-style-image: url("chrome://communicator/skin/icons/feedIcon16-disabled.png");
}

#feedsButton {
  list-style-image: url("chrome://navigator/skin/btn1/feeds.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

#feedsButton[open="true"] {
  -moz-image-region: rect(48px 32px 64px 16px) !important;
}

/* Need to set fixed width to stop the zoom display from changing size and moving around the zoom buttons */
#zoomLevel-display {
  width:60px;
  max-width:60px;
  margin-left: 0px;
  margin-right: 0px;
}
