/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/";

#main-window {
  width: 600px !important;
  height: 530px !important;
}

windowdragbox {
  min-height: 20px;
  -moz-appearance: toolbar;
  -moz-box-align: center;
}

#tabbox {
  margin: 0;
  -moz-appearance: none;
  padding: 0;
}

#tabs {
  padding: 1px;
  margin: 3px 0 8px;
}

tab {
  -moz-appearance: toolbarbutton;
  -moz-box-orient: vertical;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  margin: 0;
}

tab[selected=true] {
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.tab-middle {
  padding: 0;
}

.tab-icon {
  display: none;
}

#mainDeck {
  -moz-appearance: none;
}

/* Misc */
tree {
  margin: .5em;
}

.gridSeparator {
  width: .5em;
}

textbox {
  background: transparent !important;
  border: none;
  padding: 0px;
  margin-top: 1px;
  -moz-appearance: none;
  -moz-user-focus: none;
}

textbox.header {
  margin-inline-start: 0;
}

.iframe {
  margin: .5em;
  background: white;
  overflow: auto;
}

.fixedsize {
  height: 8.5em;
}

textbox[disabled] {
  font-style: italic;
}

/* General Tab */
#metatree {
  margin: 0;
}

#metaTags > .groupbox-body {
  padding: 0;
}

#general-security-identity {
  white-space: pre-wrap;
  line-height: 2em;
}

/* Media Tab */
#imagetree {
  min-height: 10em;
}

#mediaGrid {
  min-height: 9em;
}

#mediaLabelColumn {
  min-width: 10em;
}

#thepreviewimage {
  margin: 1em;
}

treechildren::-moz-tree-cell-text(broken) {
  font-style: italic;
  color: graytext;
}

/* Feeds Tab */
#feedListbox > richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

.feedTitle { 
  font-weight: bold;
}

/* Permissions Tab */
#permList {
  margin-top: .5em;
  overflow: auto;
}

#permList > richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

#permList > richlistitem > label {
  font-weight: bold;
}

/* Security Tab */
#security-technical-longform1,
#security-technical-longform2 {
  margin-inline-start: 6px;
}

.fieldValue {
  font-weight: bold;
}

#identity-icon {
  width: 64px;
  height: 64px;
  max-height: 64px;
  list-style-image: url("chrome://navigator/skin/icons/identity.png");
  -moz-image-region: rect(0px, 64px, 64px, 0px);
}

#identity-icon.verifiedDomain {
  -moz-image-region: rect(64px, 64px, 128px, 0px);
}

#identity-icon.verifiedIdentity {
  -moz-image-region: rect(128px, 64px, 192px, 0px);
}
