/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

checkbox.treenode-checkbox {
  -moz-box-align: center;
  padding-top: 4px;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  font-weight: bold;
}

checkbox.treenode-checkbox > .checkbox-check {
  -moz-appearance: none;
  -moz-box-align: center;
  border: none;
  width: 8px; /* The image's width is 8 pixels */
  height: 8px;
  background: url(chrome://global/skin/icons/twisty-collapsed.svg) center no-repeat;
  -moz-context-properties: fill;
  fill: currentColor;
}

checkbox.treenode-checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/icons/twisty-expanded.svg");
}

checkbox.treenode-checkbox:-moz-locale-dir(rtl) > .checkbox-check {
  background-image: url("chrome://global/skin/icons/twisty-collapsed-rtl.svg");
}

.checkbox-label-box {
  margin-inline-start: 4px;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

checkbox.treenode-checkbox > .checkbox-label-center-box > .checkbox-label-box > .checkbox-label {
  font-weight: bold;
  border-bottom: 1px solid -moz-Dialog;
}

.view-navigation-button {
  list-style-image: url(chrome://calendar-common/skin/widgets/view-navigation.svg);
  -moz-user-focus: normal;
}

.view-navigation-button[disabled="true"] {
  opacity: .3;
}

.view-navigation-button:-moz-locale-dir(ltr)[type="prev"] > .toolbarbutton-icon,
.view-navigation-button:-moz-locale-dir(rtl)[type="next"] > .toolbarbutton-icon {
  transform: scaleX(-1);
}

.view-navigation-button > .toolbarbutton-icon {
  margin: 0px !important;
}

.view-navigation-button > .toolbarbutton-text  {
  display: none;
}

.selected-text {
    font-weight: bold;
}

.selected-text:not([selected="true"]),
.unselected-text[selected="true"] {
    visibility: hidden;
}

.categories-listbox {
    -moz-appearance: none;
    background-color: Menu;
    color: MenuText;
    margin: 0 0 4px 0;
    border: 0;
}

.categories-textbox .textbox-search-icon {
    list-style-image: none;
    cursor:default;
}

.categories-textbox {
    -moz-appearance: textfield;
}

calendar-list-pane #calendar-list {
  -moz-appearance: none;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

#calendar-list richlistitem {
  -moz-box-align: center;
  border-top: 1px transparent solid;
}

#calendar-list richlistitem:last-child {
  border-bottom: 1px transparent solid;
}

#calendar-list richlistitem[drop-on="top"] {
  border-top-color: highlight;
}

#calendar-list richlistitem[drop-on="bottom"] {
  border-bottom-color: highlight;
}

#calendar-list checkbox {
  margin: 0 2px;
  -moz-user-focus: none;
}

#calendar-list .checkbox-label-box {
  display: none;
}

#calendar-list .calendar-color {
  width: 14px;
  height: 14px;
}

#calendar-list richlistitem[calendar-disabled="true"] .calendar-color {
  filter: grayscale(1);
}

#calendar-list .calendar-name {
  -moz-box-flex: 1;
}

#calendar-list richlistitem[calendar-disabled="true"]:not([selected="true"]) .calendar-name {
  color: graytext;
}

#calendar-list .calendar-readstatus {
  margin: 0 2px;
  -moz-context-properties: fill;
  fill: currentColor;
}

#calendar-list richlistitem[calendar-readonly="true"] .calendar-readstatus {
  list-style-image: url(chrome://calendar-common/skin/icons/locked.svg);
}

#calendar-list richlistitem[calendar-readfailed="true"] .calendar-readstatus {
  list-style-image: url(chrome://calendar-common/skin/icons/warn.svg);
}
