/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-strip {
  min-height: 0px;
  padding: 0px;
  /* 1px ThreeDShadow bottom border that doesn't take up space and that
     selected panel can just draw over */
  box-shadow: 0px -1px ThreeDShadow inset;
}

tabpanels {
  -moz-appearance: none;
}

.tabbrowser-tabs {
  padding-top: 1px;
}

.tabs-left,
.tabs-right {
  width: 3px;
  border-bottom: none;
}

.tab-icon {
  margin-top: 1px;
  margin-inline-start: 1px;
  margin-inline-end: 4px;
  width: 16px;
  height: 16px;
}

.tabbrowser-tab {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg");
  padding: 0px 2px 2px;
  margin-bottom: 1px;
  border-bottom: none;
}

.tabbrowser-tab[busy] {
  list-style-image: url("chrome://communicator/skin/icons/loading.png");
}

.tabbrowser-tab[selected="true"] {
  margin-bottom: 0px;
  padding-top: 2px; /* compensates the top margin of background tabs */
  padding-bottom: 3px; /* compensates the bottom margin of background tabs */
  background-color: -moz-dialog;
  color: -moz-dialogtext;
  border-top: 2px solid RoyalBlue;
  border-right: 1px solid Gray;
  border-bottom: 0px none;
  border-left: 1px solid Gray;
  -moz-appearance: none;
}

.tabbrowser-tab:-moz-lwtheme {
  text-shadow: none;
}

.scrollbutton-up:-moz-lwtheme,
.scrollbutton-down:-moz-lwtheme:not([selected="true"]),
.tabbrowser-tab:-moz-lwtheme:not([selected="true"]) {
  opacity: .8;
}

/* ::::: Tab scrollbox arrow, and all-tabs buttons ::::: */

.scrollbutton-up,
.scrollbutton-down {
  -moz-appearance: tab;
  margin: 2px 0px 1px;
  padding: 0px;
  border-top: 1px solid ThreeDLightShadow;
  border-right: 1px solid ThreeDDarkShadow;
  border-bottom: 1px solid ThreeDHighlight;
  border-left: 1px solid ThreeDLightShadow;
  border-radius: 2px 2px 0px 0px;
}

@media (-moz-windows-theme: aero) {
  .scrollbutton-up,
  .scrollbutton-down {
    padding: 0px 2px;
  }
}

.scrollbutton-up:-moz-locale-dir(rtl),
.scrollbutton-down:-moz-locale-dir(ltr) {
  border-right-color: ThreeDShadow;
}

.scrollbutton-up:-moz-locale-dir(ltr),
.scrollbutton-down:-moz-locale-dir(rtl) {
  border-left-color: ThreeDShadow;
}

.scrollbutton-up,
.scrollbutton-down:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://navigator/skin/icons/tab-arrow-left.png");
}

.scrollbutton-down,
.scrollbutton-up:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://navigator/skin/icons/tab-arrow-right.png");
}

.scrollbutton-up,
.scrollbutton-down {
  -moz-image-region: rect(0px, 8px, 12px, 0px);
}

.scrollbutton-up[disabled="true"],
.scrollbutton-down[disabled="true"] {
  -moz-image-region: rect(0px, 16px, 12px, 8px);
}

.scrollbutton-down {
  box-shadow: 0px 0px 0px 9px transparent inset;
  transition: box-shadow 1s ease-out;
}

.scrollbutton-down:hover,
.scrollbutton-down[notifybgtab="true"],
.scrollbutton-down[disabled="true"] {
  transition: none;
}

.scrollbutton-up:not([disabled="true"]):hover:active,
.scrollbutton-down:not([disabled="true"]):hover:active,
.scrollbutton-down[notifybgtab="true"] {
  box-shadow: 0px 0px 0px 9px ThreeDShadow inset;
}

.tabs-alltabs-button {
  margin: 2px 0px 1px;
}

.tabs-alltabs-button > .toolbarbutton-icon {
  margin: 0px !important;
}

/* All tabs menupopup */
.alltabs-item {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg");
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://communicator/skin/icons/loading.png");
}

.alltabs-item[tabIsScrolled] {
  font-style: italic;
}

/* ::::: close button ::::: */

.tabs-closebutton {
  margin: 3px;
  list-style-image: url("chrome://communicator/skin/icons/close-button.png");
}

.tabs-newbutton {
  margin: 0px;
  list-style-image: url("chrome://navigator/skin/icons/tab-new.png");
}

.tab-drop-indicator {
  position: relative;
  z-index: 1;
  list-style-image: url('chrome://navigator/skin/icons/tab-drag-indicator.png');
}

tooltip[tabpreview="true"] {
  max-width: none;
}
