/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: edit mode toolbar ::::: */

#EditModeToolbar {
  -moz-box-align: start;
  min-width: 1px;
}

#NormalModeButton {
  list-style-image: url("chrome://editor/skin/icons/editmode-normal.png");
}

#TagModeButton {
  list-style-image: url("chrome://editor/skin/icons/editmode-tags.png");
}

#SourceModeButton {
  list-style-image: url("chrome://editor/skin/icons/editmode-html.png");
}

#PreviewModeButton {
  list-style-image: url("chrome://editor/skin/icons/editmode-preview.png"); 
}

