
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#attachmentBucket {
  width: 15em;
  min-width: 15em;
}

#compose-toolbox > toolbar {
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

/** Stock icons for the menu items. */
.formatting-button > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

#fontFaceMenu {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menu-iconic");
  list-style-image: url("moz-icon://stock/gtk-select-font?size=menu");
}

#increaseIndent {
  list-style-image: url("moz-icon://stock/gtk-indent?size=menu");
}

#decreaseIndent {
  list-style-image: url("moz-icon://stock/gtk-unindent?size=menu");
}

#menu_styleBold {
  list-style-image: url("moz-icon://stock/gtk-bold?size=menu");
}

#menu_styleItalic {
  list-style-image: url("moz-icon://stock/gtk-italic?size=menu");
}

#menu_styleUnderline {
  list-style-image: url("moz-icon://stock/gtk-underline?size=menu");
}

#menu_styleUnderline {
  list-style-image: url("moz-icon://stock/gtk-underline?size=menu");
}

#menu_styleStrikeThru {
  list-style-image: url("moz-icon://stock/gtk-strikethrough?size=menu");
}

/* ::::: primary toolbar buttons ::::: */

#button-send {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#send");
}

#button-contacts {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#contacts");
  -moz-image-region: auto !important;
}

#spellingButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#spelling");
}

#button-attach {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#attach");
}

#button-security {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#security");
}

#button-save {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#save");
}

#quoteButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#quote");
}

#cut-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#cut");
}

#copy-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#copy");
}

#paste-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#paste");
}

#button-print {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#print");
}

toolbar[brighttext] #button-send {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#send-inverted");
}

toolbar[brighttext] #button-contacts {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#contacts-inverted");
}

toolbar[brighttext] #spellingButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#spelling-inverted");
}

toolbar[brighttext] #button-attach {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#attach-inverted");
}

toolbar[brighttext] #button-security {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#security-inverted");
}

toolbar[brighttext] #button-save {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#save-inverted");
}

toolbar[brighttext] #quoteButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#quote-inverted");
}

toolbar[brighttext] #cut-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#cut-inverted");
}

toolbar[brighttext] #copy-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#copy-inverted");
}

toolbar[brighttext] #paste-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#paste-inverted");
}

toolbar[brighttext] #button-print {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.svg#print-inverted");
}

/* ::::: menulists on toolbar ::::: */

menulist {
  -moz-appearance: none;
  min-height: 24px;
  color: inherit;
  margin: 1px 4px;
  padding: 1px 6px;
  border: 1px solid;
  background: var(--toolbarbutton-hover-background);
  border-color: var(--toolbarbutton-hover-bordercolor);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
  transition: background-color 150ms;
}

menulist:not([disabled="true"]):not([open="true"]):hover {
  background: var(--toolbarbutton-active-background);
  border-color: var(--toolbarbutton-active-bordercolor);
}

menulist[open="true"] {
  background: var(--toolbarbutton-active-background);
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
}

menulist[disabled="true"] {
  opacity: .6;
}

menulist > .menulist-label-box {
  -moz-appearance: none;
  padding-inline-end: 12px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.png");
}

menulist:-moz-locale-dir(rtl) > .menulist-label-box {
  background-position: left;
}

toolbar[brighttext] menulist > .menulist-label-box {
  background-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow-inverted.png");
}

/* ::::: special toolbar colors ::::: */

#attachmentbucket-sizer {
  border-top: none;
}

#attachments-box {
  padding-top: 5px;
}

#attachmentBucketSize {
  color: #888a85;
  padding-inline-end: 1px;
}

/* ::::: attachment reminder ::::: */

#attachmentNotificationBox b {
  font-weight: bold;
}

#attachmentNotificationBox > notification[image="null"] .messageImage {
  width: 18px;
  height: 18px;
  background-image: url(chrome://messenger/skin/messengercompose/compose-toolbar.svg#attach);
}

#attachmentReminderText {
  margin-inline-start: 0px;
  cursor: pointer;
}

#attachmentKeywords {
  font-weight: bold;
  margin-inline-start: 0px;
  text-decoration: underline;
  cursor: pointer;
}

/* XXX I should really have a selector rule here to select just .listcell-icon objects underneath the attachmentList listbox */

.listcell-icon {
  margin-inline-start: 2px;
  margin-top: 2px;
}

#subjectLabel {
  margin-inline-end: 7px;
  padding-bottom: 1px;
}

#subject-box {
  margin-inline-start: -2px;
}

#msgSubject {
  -moz-appearance: none;
  margin-top: 0;
  margin-inline-start: 6px;
  margin-inline-end: 5px;
  background-color: inherit;
  border: 2px solid transparent;
  -moz-border-top-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
  padding: 2px;
  padding-inline-start: 5px !important;
  transition: border .2s, background-color .2s;
}

#msgSubject:hover,
#msgSubject[focused="true"] {
  background-color: -moz-field;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
}

/* ::::: autocomplete icons ::::: */

treechildren::-moz-tree-image(local-abook) {
  margin-inline-start: 3px;
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

treechildren::-moz-tree-image(remote-abook) {
  margin-inline-start: 3px;
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook.png");
}

treechildren::-moz-tree-image(remote-err) {
  margin-inline-start: 3px;
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook-error.png");
}

treechildren::-moz-tree-image(subscribed-news) {
  margin-inline-start: 3px;
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(208px 16px 224px 0px);
}

/* ::::: addressing widget ::::: */

.autocomplete-treebody::-moz-tree-cell-text(comment) {
  color: #555566;
}

#addressingWidget {
  -moz-user-focus: none;
  -moz-appearance: none;
  width: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

#addressingWidget listboxbody {
  margin: 1px 0;
  background-color: transparent;
}

.addressingWidgetItem,
.dummy-row {
  background-color: transparent !important;
  color: inherit !important;
}

.textbox-addressingWidget,
.dummy-row-cell:not(:first-child) {
  padding: 2px !important;
  border: solid 2px transparent !important;
  -moz-border-top-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight !important;
  transition: border .2s, background-color .2s;
 }

.addressingWidgetCell:first-child,
.dummy-row-cell:first-child {
  border-bottom-color: transparent;
}

.textbox-addressingWidget[focused="true"],
.textbox-addressingWidget:hover {
  background-color: -moz-field;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
  -moz-border-right-colors: ThreeDShadow ThreeDHighlight !important;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight !important;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight !important;
}

.aw-menulist {
  -moz-binding: url("chrome://messenger/content/messengercompose/menulistCompactBindings.xml#menulist-compact");
  margin: 0;
  margin-inline-start: 5px;
  margin-inline-end: 7px;
  padding-inline-end: 0;
  outline: 1px solid transparent;
  outline-offset: -3px;
}

.aw-menulist:-moz-window-inactive {
  opacity: .7;
}

.aw-menulist > .menulist-label-box {
  margin: -3px 1px;
  padding-inline-start: 12px;
  padding-inline-end: 0;
  background-position: left;
}

.aw-menulist:-moz-locale-dir(rtl) > .menulist-label-box {
  background-position: right;
}

.aw-menulist:focus {
  outline-color: -moz-DialogText;
  outline-style: dotted;
}

.aw-menulist > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

.aw-menulist > .menulist-label-box > .menulist-icon {
  margin-inline-start: 2px;
}

.aw-menulist > dropmarker {
  height: 11px;
}

#composeContentBox {
  background-color: -moz-dialog;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) inset;

  /*
   * In order to remove the shadow border on left/right edges elegantly,
   * use left/right margins of -3px. We make up for this by adding 3px
   * of padding instead.
   */

  margin-right: -3px;
  margin-left: -3px;
  padding-right: 3px;
  padding-left: 3px;
}

#composeContentBox:-moz-window-inactive {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

#headers-box {
  background-color: transparent;
}

#MsgHeadersToolbar {
  -moz-appearance: none !important;
  color: WindowText;
  text-shadow: none;
  background-image: url("chrome://messenger/skin/messengercompose/linux-noise.png");
  padding-top: 3px;
}

#msgIdentity {
  -moz-appearance: none;
  -moz-box-align: center;
  margin-right: 5px;
  margin-bottom: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 2px;
  background: transparent;
  height: 22px;
  line-height: 1;
  border: 2px solid transparent;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
  transition: border .2s, background-color .2s;
}

#msgIdentity:hover,
#msgIdentity:focus,
#msgIdentity[focused="true"] {
  background-color: -moz-field;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
}

#msgIdentity > .menulist-editable-box {
  -moz-appearance: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: 3px;
  padding-inline-end: 12px;
  height: 1.4em;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.png");
}

#msgIdentity[editable="true"] > .menulist-dropmarker {
  display: none;
}

/* ::::: format toolbar ::::: */

#FormatToolbar {
  -moz-appearance: none;
  color: WindowText;
  margin-left: 3px;
  margin-right: 3px;
  background-image: url("chrome://messenger/skin/messengercompose/linux-noise.png");
}

#FontFaceSelect {
  max-width: 35ch;
}

toolbarbutton.formatting-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/format-buttons.png");
}

#FormatToolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

#AbsoluteFontSizeButton {
  -moz-image-region: rect(272px 16px 288px 0px);
}
#AbsoluteFontSizeButton[disabled="true"] {
  -moz-image-region: rect(256px 16px 272px 0px);
}

#DecreaseFontSizeButton {
  -moz-image-region: rect(208px 16px 224px 0px);
}
#DecreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(192px 16px 208px 0px);
}

#IncreaseFontSizeButton {
  -moz-image-region: rect(240px 16px 256px 0px);
}
#IncreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(224px 16px 240px 0px);
}

#boldButton {
  list-style-image: url("moz-icon://stock/gtk-bold?size=menu") !important;
}
#boldButton[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-bold?size=menu&state=disabled") !important;
}

#italicButton {
  list-style-image: url("moz-icon://stock/gtk-italic?size=menu") !important;
}
#italicButton[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-italic?size=menu&state=disabled") !important;
}

#underlineButton {
  list-style-image: url("moz-icon://stock/gtk-underline?size=menu") !important;
}
#underlineButton[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-underline?size=menu&state=disabled") !important;
}

#ulButton {
  -moz-image-region: rect(160px 16px 176px 0px);
}
#ulButton[disabled="true"] {
  -moz-image-region: rect(144px 16px 160px 0px);
}

#olButton {
  -moz-image-region: rect(128px 16px 144px 0px);
}
#olButton[disabled="true"] {
  -moz-image-region: rect(112px 16px 128px 0px);
}

#outdentButton {
  list-style-image: url("moz-icon://stock/gtk-unindent?size=menu") !important;
}
#outdentButton[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-unindent?size=menu&state=disabled") !important;
}

#indentButton {
  list-style-image: url("moz-icon://stock/gtk-indent?size=menu") !important;
}
#indentButton[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-indent?size=menu&state=disabled") !important;
}

#AlignPopupButton {
  list-style-image: url("moz-icon://stock/gtk-justify-left?size=menu") !important;
}
#AlignPopupButton[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-justify-left?size=menu&state=disabled") !important;
}

#InsertPopupButton {
  -moz-image-region: rect(80px 16px 96px 0px);
}
#InsertPopupButton[disabled="true"] {
  -moz-image-region: rect(64px 16px 80px 0px);
}


#smileButtonMenu {
  -moz-image-region: rect(32px 16px 48px 0px);
}
#smileButtonMenu[disabled="true"] {
  -moz-image-region: rect(16px 16px 32px 0px);
}
/* ..... align menu ..... */

#AlignLeftItem {
  list-style-image: url("moz-icon://stock/gtk-justify-left?size=menu");
}

#AlignCenterItem {
  list-style-image: url("moz-icon://stock/gtk-justify-center?size=menu");
}

#AlignRightItem {
  list-style-image: url("moz-icon://stock/gtk-justify-right?size=menu");
}

#AlignJustifyItem {
  list-style-image: url("moz-icon://stock/gtk-justify-fill?size=menu");
}

/* ..... insert menu ..... */

#InsertPopup > menuitem {
  list-style-image: url("chrome://messenger/skin/messengercompose/format-buttons.png");
}

#InsertLinkItem {
  -moz-image-region: rect(96px 16px 112px 0px);
}

#InsertAnchorItem {
  -moz-image-region: rect(0px 16px 16px 0px);
}

#InsertImageItem {
  -moz-image-region: rect(80px 16px 96px 0px);
}

#InsertHRuleItem {
  -moz-image-region: rect(48px 16px 64px 0px);
}

#InsertTableItem {
  -moz-image-region: rect(176px 16px 192px 0px);
}

/* ..... smiley menu ..... */

#smileButtonMenu .menu-iconic-left {
  /* Ensure that the smileys are visible even if the Gnome theme says menus
     shouldn't have icons. */
  visibility: visible;
}

#smileySmile > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-smile.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyFrown > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-frown.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyWink > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-wink.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyTongue > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-tongue-out.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyLaughing > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-laughing.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyEmbarassed > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-embarassed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyUndecided > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-undecided.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileySurprise > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-surprised.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyKiss > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-kiss.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyYell > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-yell.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyCool > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cool.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyMoney > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-money-mouth.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyFoot > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-foot-in-mouth.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyInnocent > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-innocent.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyCry > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cry.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileySealed > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-sealed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

/* ..... fg/bg color picker ..... */

.ColorPickerLabel {
  border: 1px inset ThreeDFace;
  margin: 0px;
  padding: 2px;
}

.color-button {
  border: 1px inset ThreeDFace;
  padding: 0px;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid ThreeDDarkShadow;
}

.color-button[disabled="true"],
.color-button[disabled="true"]:hover {
  border: 1px inset ThreeDFace;
  opacity: 0.5;
}

#TextColorButton {
  margin-top: 2px;
  margin-bottom: 9px;
  margin-inline-start: 2px;
  margin-inline-end: 9px;
}

#TextColorButton[color="mixed"] {
  background-image: url("chrome://messenger/skin/icons/multicolor.png");
  background-size: cover;
}

#BackgroundColorButton {
  margin-top: 9px;
  margin-bottom: 2px;
  margin-inline-start: 9px;
  margin-inline-end: 2px;
}

#HighlightColorButton {
  -moz-image-region: rect(260px 16px 272px 0px);
  background-color: transparent;
}

#HighlightColorButton:hover {
  -moz-image-region: rect(260px 32px 272px 16px);
}

#HighlightColorButton:hover:active {
  -moz-image-region: rect(260px 48px 272px 32px);
}

#HighlightColorButton[disabled="true"],
#HighlightColorButton[disabled="true"]:hover,
#HighlightColorButton[disabled="true"]:hover:active {
  -moz-image-region: rect(260px 64px 272px 48px);
}

/* ::::: address book sidebar ::::: */
.ab-closebutton {
  list-style-image: url("chrome://messenger/skin/icons/close-button.png");
  -moz-image-region: rect(0 16px 16px 0);
  -moz-appearance: none;
  border: none !important;
  padding: 2px;
}

.ab-closebutton:hover {
  -moz-image-region: rect(0 32px 16px 16px);
}

.ab-closebutton:hover:active {
  -moz-image-region: rect(0 48px 16px 32px);
}

.ab-closebutton > .toolbarbutton-icon {
  margin-inline-end: 0px; /* override toolkit's default value */
}

#sidebar {
  background-color: Window;
}

#sidebar-box sidebarheader {
  color: -moz-DialogText;
  text-shadow: none;
  background-color: -moz-Dialog;
}

/** Stock icons for the menu items. */
#menu_NewMessage {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.svg#newmsg");
}

#menu_NewContact {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newcard");
}

#menu_SaveCmd {
  list-style-image: url("moz-icon://stock/gtk-save?size=menu");
}

#menu_SaveAsCmd {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menu-iconic");
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu");
}

#menu_checkspelling {
  list-style-image: url("moz-icon://stock/gtk-spell-check?size=menu");
}

#msgIdentityPopup > menuitem {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic-desc-noaccel");
}

#tasksMenuAddressBook {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

#sidebar-splitter {
  -moz-appearance: none;
  border-inline-start: 1px solid ThreeDShadow;
  /* splitter grip area */
  width: 5px;
  /* make only the splitter border visible */
  margin-inline-end: -5px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
}

menu[command="cmd_attachCloud"] .menu-iconic-left,
menu[command="cmd_convertCloud"] .menu-iconic-left {
  /* Ensure that the provider icons are visible even if the Gnome theme says
     menus shouldn't have icons. */
  visibility: visible;
}
