/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
  == Images for the Mail primary toolbar.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(90px 29px 119px 0);
}

#button-getmsg:hover {
  -moz-image-region: rect(90px 59px 119px 30px);
} 

#button-getmsg:hover:active {
  -moz-image-region: rect(90px 89px 119px 60px);
} 

#button-getmsg[disabled] {
  -moz-image-region: rect(90px 119px 119px 90px) !important;
} 

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(150px 29px 179px 0);
}

#button-newmsg:hover {
  -moz-image-region: rect(150px 59px 179px 30px);
} 

#button-newmsg:hover:active {
  -moz-image-region: rect(150px 89px 179px 60px);
} 

#button-newmsg[disabled] {
  -moz-image-region: rect(150px 119px 179px 90px) !important;
} 

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(210px 29px 239px 0);
}

#button-reply:hover {
  -moz-image-region: rect(210px 59px 239px 30px);
} 

#button-reply:hover:active {
  -moz-image-region: rect(210px 89px 239px 60px);
} 

#button-reply[disabled] {
  -moz-image-region: rect(210px 119px 239px 90px) !important;
} 

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(240px 29px 269px 0);
}

#button-replyall:hover {
  -moz-image-region: rect(240px 59px 269px 30px);
} 

#button-replyall:hover:active {
  -moz-image-region: rect(240px 89px 269px 60px);
} 

#button-replyall[disabled] {
  -moz-image-region: rect(240px 119px 269px 90px) !important;
} 

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(60px 29px 89px 0);
}

#button-forward:hover {
  -moz-image-region: rect(60px 59px 89px 30px);
} 

#button-forward:hover:active {
  -moz-image-region: rect(60px 89px 89px 60px);
} 

#button-forward[disabled] {
  -moz-image-region: rect(60px 119px 89px 90px) !important;
} 

#button-file {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(30px 29px 59px 0);
}

#button-file:hover {
  -moz-image-region: rect(30px 59px 59px 30px);
} 

#button-file:hover:active,
#button-file[open] {
  -moz-image-region: rect(30px 89px 59px 60px);
} 

#button-file[disabled] {
  -moz-image-region: rect(30px 119px 59px 90px) !important;
} 

#button-goback {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(60px 29px 89px 0);
}

#button-goback:hover {
  -moz-image-region: rect(60px 59px 89px 30px);
}

#button-goback:hover:active {
  -moz-image-region: rect(60px 89px 89px 60px);
}

#button-goback[disabled="true"] {
  -moz-image-region: rect(60px 119px 89px 90px) !important;
}

#button-goforward {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(90px 29px 119px 0);
}

#button-goforward:hover {
  -moz-image-region: rect(90px 59px 119px 30px);
}

#button-goforward:hover:active {
  -moz-image-region: rect(90px 89px 119px 60px);
}

#button-goforward[disabled="true"] {
  -moz-image-region: rect(90px 119px 119px 90px) !important;
}

#button-next {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(180px 29px 209px 0);
}

#button-next:hover {
  -moz-image-region: rect(180px 59px 209px 30px);
} 

#button-next:hover:active {
  -moz-image-region: rect(180px 89px 209px 60px);
} 

#button-next[disabled] {
  -moz-image-region: rect(180px 119px 209px 90px) !important;
} 

#button-delete {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(0 29px 29px 0);
}

#button-delete:hover {
  -moz-image-region: rect(0 59px 29px 30px);
} 

#button-delete:hover:active {
  -moz-image-region: rect(0 89px 29px 60px);
}

#button-delete[disabled] {
  -moz-image-region: rect(0 119px 29px 90px) !important;
}

toolbarpaletteitem > #button-delete {
  display: -moz-box;
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(120px 29px 149px 0);
}

#button-mark:hover {
  -moz-image-region: rect(120px 59px 149px 30px);
} 

#button-mark:hover:active {
  -moz-image-region: rect(120px 89px 149px 60px);
} 

#button-mark[disabled] {
  -moz-image-region: rect(120px 119px 149px 90px) !important;
} 

#button-junk {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(360px 29px 389px 0);
}

#button-junk:hover {
  -moz-image-region: rect(360px 59px 389px 30px);
}

#button-junk:hover:active {
  -moz-image-region: rect(360px 89px 389px 60px);
}

#button-junk[disabled="true"] {
  -moz-image-region: rect(360px 119px 389px 90px) !important;
}

#button-stop {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
  -moz-image-region: rect(30px 29px 59px 0);
}

#button-stop:hover {
  -moz-image-region: rect(30px 59px 59px 30px);
} 

#button-stop:hover:active {
  -moz-image-region: rect(30px 89px 59px 60px);
}

#button-stop[disabled="true"] {
  -moz-image-region: rect(30px 119px 59px 90px) !important;
}

#sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-32.png");
}

#sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-32-throbber.png");
}

#locationFolders {
  width: 22em;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #searchInput,
#palette-box #button-search-container,
#palette-box #button-search,
#palette-box #mailviews-container,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

#viewPickerPopup > menuitem > .menu-iconic-left,
#viewPickerPopup > menu > menupopup > menuitem > .menu-iconic-left {
  display: -moz-box !important;
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > #button-getmsg,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(60px 19px 79px 0);
}

toolbar[iconsize="small"] > #button-getmsg:hover {
  -moz-image-region: rect(60px 39px 79px 20px);
}

toolbar[iconsize="small"] > #button-getmsg:hover:active {
  -moz-image-region: rect(60px 59px 79px 40px);
}

toolbar[iconsize="small"] > #button-getmsg[disabled] {
  -moz-image-region: rect(60px 79px 79px 60px) !important;
}

toolbar[iconsize="small"] > #button-newmsg,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(100px 19px 119px 0);
}

toolbar[iconsize="small"] > #button-newmsg:hover {
  -moz-image-region: rect(100px 39px 119px 20px);
}

toolbar[iconsize="small"] > #button-newmsg:hover:active {
  -moz-image-region: rect(100px 59px 119px 40px);
}

toolbar[iconsize="small"] > #button-newmsg[disabled] {
  -moz-image-region: rect(100px 79px 119px 60px) !important;
}

toolbar[iconsize="small"] > #button-reply,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-reply {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(140px 19px 159px 0);
}

toolbar[iconsize="small"] > #button-reply:hover {
  -moz-image-region: rect(140px 39px 159px 20px);
}

toolbar[iconsize="small"] > #button-reply:hover:active {
  -moz-image-region: rect(140px 59px 159px 40px);
}

toolbar[iconsize="small"] > #button-reply[disabled] {
  -moz-image-region: rect(140px 79px 159px 60px) !important;
}

toolbar[iconsize="small"] > #button-replyall,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(160px 19px 179px 0);
}

toolbar[iconsize="small"] > #button-replyall:hover {
  -moz-image-region: rect(160px 39px 179px 20px);
}

toolbar[iconsize="small"] > #button-replyall:hover:active {
  -moz-image-region: rect(160px 59px 179px 40px);
}

toolbar[iconsize="small"] > #button-replyall[disabled] {
  -moz-image-region: rect(160px 79px 179px 60px) !important;
}

toolbar[iconsize="small"] > #button-forward,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-forward {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(40px 19px 59px 0);
}

toolbar[iconsize="small"] > #button-forward:hover {
  -moz-image-region: rect(40px 39px 59px 20px);
}

toolbar[iconsize="small"] > #button-forward:hover:active {
  -moz-image-region: rect(40px 59px 59px 40px);
}

toolbar[iconsize="small"] > #button-forward[disabled] {
  -moz-image-region: rect(40px 79px 59px 60px) !important;
}

toolbar[iconsize="small"] > #button-file,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-file {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(20px 19px 39px 0);
}

toolbar[iconsize="small"] > #button-file:hover {
  -moz-image-region: rect(20px 39px 39px 20px);
}

toolbar[iconsize="small"] > #button-file:hover:active,
toolbar[iconsize="small"] > #button-file[open] {
  -moz-image-region: rect(20px 59px 39px 40px);
} 

toolbar[iconsize="small"] > #button-file[disabled] {
  -moz-image-region: rect(20px 79px 39px 60px) !important;
}

toolbar[iconsize="small"] > #button-goback,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goback {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(40px 19px 59px 0);
}

toolbar[iconsize="small"] > #button-goback:hover {
  -moz-image-region: rect(40px 39px 59px 20px);
}

toolbar[iconsize="small"] > #button-goback:hover:active {
  -moz-image-region: rect(40px 59px 59px 40px);
}

toolbar[iconsize="small"] > #button-goback[disabled="true"] {
  -moz-image-region: rect(40px 79px 59px 60px) !important;
}

toolbar[iconsize="small"] > #button-goforward,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-goforward {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(60px 19px 79px 0);
}

toolbar[iconsize="small"] > #button-goforward:hover {
  -moz-image-region: rect(60px 39px 79px 20px);
}

toolbar[iconsize="small"] > #button-goforward:hover:active {
  -moz-image-region: rect(60px 59px 79px 40px);
}

toolbar[iconsize="small"] > #button-goforward[disabled="true"] {
  -moz-image-region: rect(60px 79px 79px 60px) !important;
}

toolbar[iconsize="small"] > #button-next,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-next {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(120px 19px 139px 0);
}

toolbar[iconsize="small"] > #button-next:hover {
  -moz-image-region: rect(120px 39px 139px 20px);
}

toolbar[iconsize="small"] > #button-next:hover:active {
  -moz-image-region: rect(120px 59px 139px 40px);
}

toolbar[iconsize="small"] > #button-next[disabled] {
  -moz-image-region: rect(120px 79px 139px 60px) !important;
}

toolbar[iconsize="small"] > #button-delete,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-delete {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(0 19px 19px 0);
}

toolbar[iconsize="small"] > #button-delete:hover {
  -moz-image-region: rect(0 39px 19px 20px);
}

toolbar[iconsize="small"] > #button-delete:hover:active {
  -moz-image-region: rect(0 59px 19px 40px);
}

toolbar[iconsize="small"] > #button-delete[disabled],
toolbar[iconsize="small"] > toolbarpaletteitem > #button-delete[disabled] {
  -moz-image-region: rect(0 79px 19px 60px) !important;
}

toolbar[iconsize="small"] > #button-mark,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-mark {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(80px 19px 99px 0);
}

toolbar[iconsize="small"] > #button-mark:hover {
  -moz-image-region: rect(80px 39px 99px 20px);
}

toolbar[iconsize="small"] > #button-mark:hover:active {
  -moz-image-region: rect(80px 59px 99px 40px);
}

toolbar[iconsize="small"] > #button-mark[disabled] {
  -moz-image-region: rect(80px 79px 99px 60px) !important;
}

toolbar[iconsize="small"] > #button-junk,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-junk {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(240px 19px 259px 0);
}

toolbar[iconsize="small"] > #button-junk:hover {
  -moz-image-region: rect(240px 39px 259px 20px);
}

toolbar[iconsize="small"] > #button-junk:hover:active {
  -moz-image-region: rect(240px 59px 259px 40px);
}

toolbar[iconsize="small"] > #button-junk[disabled],
toolbar[iconsize="small"] > toolbarpaletteitem > #button-junk[disabled] {
  -moz-image-region: rect(240px 79px 259px 60px) !important;
}

toolbar[iconsize="small"] > #button-stop,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-stop {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons-small.png");
  -moz-image-region: rect(20px 19px 39px 0);
}

toolbar[iconsize="small"] > #button-stop:hover {
  -moz-image-region: rect(20px 39px 39px 20px);
}

toolbar[iconsize="small"] > #button-stop:hover:active {
  -moz-image-region: rect(20px 59px 39px 40px);
}

toolbar[iconsize="small"] > #button-stop[disabled="true"] {
  -moz-image-region: rect(20px 79px 39px 60px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button,
toolbar[iconsize="small"] > #sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button[status=active],
toolbar[iconsize="small"] > #sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-16-throbber.png");
}

/* ::::: Lightning icon sizes ::::: */

#lightning-button-calendar > .toolbarbutton-icon,
#lightning-button-tasks > .toolbarbutton-icon,
#extractEventButton > .toolbarbutton-icon,
#extractTaskButton > .toolbarbutton-icon,
#extractEventButton > .box-inherit > .toolbarbutton-icon,
#extractTaskButton > .box-inherit > .toolbarbutton-icon {
  width: 29px;
  height: 29px;
}

toolbar[iconsize="small"] > #lightning-button-calendar > .toolbarbutton-icon,
toolbar[iconsize="small"] > #lightning-button-tasks > .toolbarbutton-icon,
toolbar[iconsize="small"] > #extractEventButton > .box-inherit > .toolbarbutton-icon,
toolbar[iconsize="small"] > #extractTaskButton > .box-inherit > .toolbarbutton-icon {
  width: 19px;
  height: 19px;
}

#lightning-button-calendar[disabled="true"] > .toolbarbutton-icon,
#lightning-button-tasks[disabled="true"] > .toolbarbutton-icon,
#extractEventButton[disabled="true"] > .box-inherit > .toolbarbutton-icon,
#extractTaskButton[disabled="true"] > .box-inherit > .toolbarbutton-icon {
  opacity: 0.3;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBar {
  border-bottom: 1px solid #000000;
  -moz-appearance: toolbox;
  background-color: #C7BC8F;
  color: black;
}

.msgNotificationBar:-moz-lwtheme {
  text-shadow: none;
}

.messageImage[value="remoteContent"] {
  list-style-image: url("chrome://messenger/skin/icons/remote-blocked.png");
}

.messageImage[value="junkContent"] {
  list-style-image: url("chrome://messenger/skin/icons/junk.png");
}

.messageImage[value="phishingContent"] {
  list-style-image: url("chrome://messenger/skin/icons/phishing.png");
}

.messageImage[value="mdnContent"] {
  list-style-image: url("chrome://messenger/skin/icons/info.png");
}
