/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.searchbar-textbox {
  width: 6em;
  min-width: 6em;
}

/* ::::: search bar ::::: */

.autocomplete-treebody::-moz-tree-cell-text(datalist-first, treecolAutoCompleteComment) {
  color: #999999;
  font-size: smaller;
}

.autocomplete-treebody::-moz-tree-cell(datalist-first) {
  border-top: 1px solid #999999;
}

/* ::::: searchbar-engine-button ::::: */

.toolbarbutton-icon {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://communicator/skin/directory/file-icon.png");
}

.toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://communicator/skin/search/mainwindow-dropdown-arrow.png");
  -moz-image-region: rect(0, 13px, 11px, 0);
}

.searchbar-engine-button[open="true"] > .toolbarbutton-menu-dropmarker {
  -moz-image-region: rect(0, 26px, 11px, 13px);
}


/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  padding: 0px 2px;
  list-style-image: url("chrome://global/skin/icons/search.png");
}

.search-go-button:-moz-system-metric(touch-enabled) {
  padding: 0px 5px;
}

.search-go-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
