/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== sidebar.css ====================================================
  == Styles used by the Sidebar panel and Sidebar tabs.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#sidebar-box {
  border-left: 1px solid #8998AA;
  background-color: #B9C4D0;
}

/* ::::: sidebar header ::::: */

.sidebar-header-text {
  color: #000000;
  font-weight: bold;
  -moz-box-align: center;
}

.sidebarheader-main {
  -moz-binding: url("chrome://communicator/skin/sidebar/sidebarBindings.xml#sidebarheader") !important;
  background-color: #B9C4D0;
  background-image: url("chrome://communicator/skin/sidebar/sbar-top.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* ..... picker button ..... */

#sidebar-panel-picker {
  margin-inline-end: 1px;
  margin-top: 1px;
  padding: 2px;
}

#sidebar-panel-picker:hover {
  border: 1px outset #B1BDC9;
}

#sidebar-panel-picker[open="true"] {
  border-style: inset;
}

#sidebar-panel-picker > .toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://communicator/skin/sidebar/sbpicker-arrow.png");
  padding-inline-end: 2px;
  padding-inline-start: 2px;
}

/* ..... close button ..... */

#sidebar-close-button {
  margin: 0px 1px;
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image");
  padding: 0px;
  list-style-image: url("chrome://global/skin/icons/closebox.png");
}

#sidebar-close-button > .toolbarbutton-icon {
  margin: 0px;
}

/* ::::: loading info ::::: */

.text-panel-loading {
  margin: 5px 0px;
}

.text-panel-loading[loading="false"] {
  margin-inline-start: 11px;
}

.image-panel-loading {
  margin: 5px;
  list-style-image: url("chrome://communicator/skin/icons/loading.png");
}

/* ::::: sidebar panel ::::: */

.iframe-panel {
  border-bottom: 6px solid;
  -moz-border-bottom-colors: #B9C4D0 #B9C4D0 #B9C4D0 #B9C4D0 #DAE3ED #96A7B8;
}

.browser-sidebar {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#browser-miniscroll") !important;
  border-bottom: 6px solid;
  -moz-border-bottom-colors: #B9C4D0 #B9C4D0 #B9C4D0 #B9C4D0 #DAE3ED #96A7B8;  
}


/* ::::: sidebar tabs ::::: */

/* ..... normal tabs ..... */
 
.box-texttab {
  -moz-binding: url("chrome://communicator/skin/sidebar/sidebarBindings.xml#sidebar-tab");
  color: #000000;
  border-left: 1px solid #DAE3ED;
}

.sidebar-tab-left-box,
.sidebar-tab-right-box {
  margin-bottom: 3px;
}

.sidebar-tab-left-box {
  border-top: 2px solid;
  border-bottom: 2px solid #B9C4D0;
  -moz-border-top-colors: #8A9DAF #D4E1EA;
  min-width: 90px;
}

.sidebar-tab-left {
  width: 10px;
  background: url("chrome://communicator/skin/sidebar/sbtab-lft.png") no-repeat;
}

.sidebar-tab-text {
  margin: 0px !important;
  background: url("chrome://communicator/skin/sidebar/sbtab-mid.png") repeat-x top;
}

.sidebar-tab-right-img {
  width: 32px;
  height: 13px;
  list-style-image: url("chrome://communicator/skin/sidebar/sbtab-rit-top.png");
}

.sidebar-tab-right-btm {
  min-height: 5px;
}

.sidebar-tab-right-line {
  border-bottom: 2px solid;
  -moz-border-bottom-colors: #DAE3ED #96A7B8;
}

/* ..... hover state ..... */

.box-texttab:hover > .sidebar-tab-left-box {
  border-bottom: 2px solid;
  -moz-border-bottom-colors: #CCD7E2 #9CADBB;
}

.box-texttab:hover > .sidebar-tab-right-box > .sidebar-tab-right-top-box 
    > .sidebar-tab-right-img 
{
  list-style-image: url("chrome://communicator/skin/sidebar/sbtab-rit-top-hov.png");
}

.box-texttab:hover > .sidebar-tab-right-box > .sidebar-tab-right-btm {
  background: url("chrome://communicator/skin/sidebar/sbtab-rit-btm-hov.png") no-repeat bottom left;
}

/* ..... active state ..... */

.box-texttab:hover:active {
  border-left: none;
  color: #FFFFFF;
}

.box-texttab:hover:active > .sidebar-tab-left-box {
  border-left: 2px solid;
  -moz-border-bottom-colors: #D8E2EC #A1B1BE	;
  -moz-border-top-colors: #8A9DAF #748490;
  -moz-border-left-colors: #737E8A #90A0AD;
  background-color: #A1B1BE;
}

.box-texttab:hover:active > .sidebar-tab-left-box > .sidebar-tab-left {
  background-image: url("chrome://communicator/skin/sidebar/sbtab-lft-act.png");
}

.box-texttab:hover:active > .sidebar-tab-left-box > .sidebar-tab-text {
  background-image: url("chrome://communicator/skin/sidebar/sbtab-mid-act.png");
}

.box-texttab:hover:active > .sidebar-tab-right-box > .sidebar-tab-right-top-box 
    > .sidebar-tab-right-img 
{
  list-style-image: url("chrome://communicator/skin/sidebar/sbtab-rit-top-act.png");
}

.box-texttab:hover:active > .sidebar-tab-right-box > .sidebar-tab-right-btm {
  background-image: url("chrome://communicator/skin/sidebar/sbtab-rit-btm-act.png");
}

/* ..... selected state ..... */

.box-texttab[selected] {
  border-left: 1px solid #E8EEF5 !important;
  border-bottom: 1px solid #CBD5E0 !important;
  color: #000000 !important;
}

.box-texttab[selected] > .sidebar-tab-left-box {
  border-bottom: none !important;
  border-left: none !important;
  -moz-border-top-colors: #8A9DAF #DFEBF2 !important;
  background-color: #CBD5E0 !important;
}

.box-texttab[selected] > .sidebar-tab-left-box,
.box-texttab[selected] > .sidebar-tab-right-box {
  margin-bottom: 0 !important;
}

.box-texttab[selected] > .sidebar-tab-left-box > .sidebar-tab-left {
  background-image: url("chrome://communicator/skin/sidebar/sbtab-lft-sel.png") !important;
}

.box-texttab[selected] > .sidebar-tab-left-box > .sidebar-tab-text {
  background-image: url("chrome://communicator/skin/sidebar/sbtab-mid-sel.png") !important;
}

.box-texttab[selected] > .sidebar-tab-right-box > .sidebar-tab-right-top-box 
    > .sidebar-tab-right-img 
{
  list-style-image: url("chrome://communicator/skin/sidebar/sbtab-rit-top-sel.png") !important;
}

.box-texttab[selected] > .sidebar-tab-right-box > .sidebar-tab-right-btm {
  background: #CBD5E0 !important;
}

.box-texttab[selected] > .sidebar-tab-right-box > .sidebar-tab-right-top-box > .sidebar-tab-right-line 
{
  -moz-border-bottom-colors: #E2EAF4 #8CA2B3 !important;
}

/* ::::: sidebar navigation buttons ::::: */

.sidebar-nav-button {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image");
  padding: 5px 0px 5px 0px;
}

.tab-fwd {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.png");
}

.tab-back {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
}
