/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.reminder-icon[value="SMS"] {
  list-style-image: url(chrome://gdata-provider/skin/reminder-action-sms.png);
  -moz-image-region: auto;
}

#reminder-notifications > notification[type="critical"] {
  background-color: #d70022;
}
