/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://lightning-common/skin/lightning.css);

lightning-notification-bar {
  background-color: #baeeff;
  color: -moz-dialogtext;
  border-bottom: 1px solid ThreeDDarkShadow;
  padding: 3px;
}

#calendarContent {
  color: -moz-DialogText;
  background-color: -moz-Dialog;
}

#calsidebar_splitter,
#today-splitter {
  -moz-appearance: none;
  /* splitter grip area */
  width: 5px;
  margin-top: 0;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#calsidebar_splitter {
  border-inline-start: 1px solid ThreeDShadow;
  /* make only the splitter border visible */
  margin-inline-end: -5px;
}

#today-splitter {
  border-inline-start: 1px solid ThreeDShadow;
  /* make only the splitter border visible */
  margin-inline-end: -5px;
}

#calsidebar_splitter[state="collapsed"] {
  border-inline-start: 1px solid transparent;
}

#calsidebar_splitter[state="collapsed"]:hover {
  border-inline-start: 4px solid highlight;
}

#today-splitter > grippy {
  display: none;
}

/* Calendar list rules */
#calendar-panel {
    padding-bottom: 5px;
}

/* Lightning preferences icon */
radio[pane=paneLightning] {
    list-style-image: url("chrome://calendar/skin/cal-icon32.png");
}

/* iMIP notification bar */
#imip-bar > image {
    list-style-image: url("chrome://calendar/skin/cal-icon32.png");
    -moz-image-region: rect(0px, 32px, 32px, 0px);
}

/* ::::: tabs ::::: */

/* ::: new tab buttons ::: */
#calendar-tab-button,
#newMsgButton-calendar-menuitem {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#calendar-tab);
}

#task-tab-button,
#newMsgButton-task-menuitem {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#task-tab);
}

#tabs-toolbar[brighttext] #calendar-tab-button {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#calendar-tab-inverted);
}

#tabs-toolbar[brighttext] #task-tab-button {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#task-tab-inverted);
}

/* ::: tab icons ::: */
.icon-holder[type="calendar"],
.tabmail-tab[type="calendar"] {
    list-style-image: url(chrome://lightning-common/skin/mode-switch-icons.png);
    -moz-image-region: rect(0px 64px 16px 48px);
}

.icon-holder[type="calendar"][selected="true"],
.tabmail-tab[type="calendar"][selected="true"] {
    -moz-image-region: rect(16px 64px 32px 48px);
}

.icon-holder[type="tasks"],
.tabmail-tab[type="tasks"] {
    list-style-image: url(chrome://lightning-common/skin/mode-switch-icons.png);
    -moz-image-region: rect(0px 80px 16px 64px);
}

.icon-holder[type="tasks"][selected="true"],
.tabmail-tab[type="tasks"][selected="true"] {
    -moz-image-region: rect(16px 80px 32px 64px);
}

/* Lightning sidebar in calendar and task mode */
#ltnSidebar {
  background-color: -moz-field;
  border-bottom: 1px solid ThreeDShadow;
}

/* Write button */
#newMsgButton-mail-menuitem {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar.svg#newmsg);
}

#newMsgButton-mail-menuitem > .menu-iconic-left > .menu-iconic-icon,
#newMsgButton-calendar-menuitem > .menu-iconic-left > .menu-iconic-icon,
#newMsgButton-task-menuitem > .menu-iconic-left > .menu-iconic-icon {
  width: 18px;
  height: 18px;
  margin: -1px;
}

/* Today pane button in status bar */
#calendar-status-todaypane-button,
#calendar-status-todaypane-button[checked="true"] {
  min-width: 0;
  min-height: 0;
  margin: 1px 0 0;
  -moz-appearance: none;
  border-radius: 3px;
  padding: 1px 2px 0 !important;
  border: 1px solid transparent;
}

#calendar-status-todaypane-button:hover {
  border: 1px solid ThreeDShadow;
  background-color: transparent !important;
  background-image: none;
  -moz-appearance: none;
}

#calendar-status-todaypane-button[hideLabel] > stack {
  margin-inline-start: 5px;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-icon-begin {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#pane);
  -moz-image-region: rect(0 18px 18px 0);
}

#calendar-status-todaypane-button:-moz-lwtheme-brighttext > stack >
  .toolbarbutton-icon-begin {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#pane-inverted);
}

/* compensate the 18px icon height */
#calendar-status-todaypane-button > stack > .toolbarbutton-icon-begin {
  margin-top: -1px;
  margin-bottom: -1px;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-day-text {
  margin-top: 4px;
}

/* shift the today pane button label up by one pixel to center it */
#calendar-status-todaypane-button > .toolbarbutton-text {
  margin: 0 0 1px !important;
}

#calendar-status-todaypane-button > .toolbarbutton-icon-end {
  list-style-image: url(chrome://global/skin/icons/collapse.png);
}

#calendar-status-todaypane-button[checked="true"] > .toolbarbutton-icon-end {
  list-style-image: url(chrome://global/skin/icons/expand.png);
}

#calMinimonthBox {
    margin-top: 3px;
}

/* ::: imip button icons ::: */
#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button {
  background-color: -moz-dialog;
}

#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button > .toolbarbutton-menubutton-button,
#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button > .toolbarbutton-menubutton-dropmarker {
  background-color: transparent;
}

#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button:not(:active):hover,
#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button:-moz-any(:hover,[open="true"]) >
  .toolbarbutton-menubutton-button,
#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button:hover >
  .toolbarbutton-menubutton-dropmarker {
  background: -moz-dialog linear-gradient(rgba(255, 255, 255, .5), transparent);
}

#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button:not([type="menu-button"]):hover:active,
#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button[type="menu-button"] >
  .toolbarbutton-menubutton-button:hover:active,
#imip-view-toolbar > .toolbarbutton-1.msgHeaderView-button[open="true"] >
  .toolbarbutton-menubutton-dropmarker {
  background: rgb(154, 154, 154) linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .4));
}

.imipAcceptRecurrencesButton,
.imipAcceptButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#complete);
}

.imipDeclineCounterButton,
.imipDeclineRecurrencesButton,
.imipDeclineButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#decline);
}

.imipTentativeRecurrencesButton,
.imipTentativeButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#tentative);
}

.imipDetailsButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#find);
}

.imipAddButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#newevent);
}

.imipRescheduleButton,
.imipUpdateButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#synchronize);
}

.imipDeleteButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#delete);
}

.imipReconfirmButton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#priority);
}
