/* # This Source Code Form is subject to the terms of the Mozilla Public */
/* # License, v. 2.0. If a copy of the MPL was not distributed with this */
/* # file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/about.css");

body {
  align-items: initial;
}

th { text-align: start; }
h2 { margin-top: 1.5em; }
th, td { vertical-align: top; }
