/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderPane.css =================================================
  == Styles for the Folder pane in the Messenger 3-pane window.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: mail folder ::::: */

treechildren::-moz-tree-image(folderNameCol) {
  margin-inline-end: 2px;
}

.icon-holder[type="folder"],
treechildren::-moz-tree-image(folderNameCol) {
  list-style-image: url("chrome://messenger/skin/icons/folder-closed.png");
}

/* ..... Shared ..... */

.icon-holder[type="folder"][ImapShared="true"],
treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-share.png");
}

/* ..... mail folder with new messages ..... */

treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-new.png");
}

/* ..... News ..... */

.icon-holder[type="folder"][ServerType="nntp"],
treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.png");
}

.icon-holder[type="folder"][ServerType="nntp"][NewMessages="true"],
treechildren::-moz-tree-image(folderNameCol, serverType-nntp, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup-new.png");
}

/* ..... Feeds ..... */

.icon-holder[type="folder"][ServerType="rss"],
treechildren::-moz-tree-image(folderNameCol, serverType-rss) {
  list-style-image: url("chrome://messenger-newsblog/skin/icons/rss-feed.png");
  -moz-image-region: rect(0 16px 16px 0);
}

.icon-holder[type="folder"][ServerType="rss"][NewMessages="true"],
treechildren::-moz-tree-image(folderNameCol, serverType-rss, newMessages-true) {
  -moz-image-region: rect(16px 16px 32px 0);
}

/* ..... Inbox ..... */

.icon-holder[type="folder"][SpecialFolder="Inbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
  list-style-image: url("chrome://messenger/skin/icons/folder-inbox.png");
}

.icon-holder[type="folder"][SpecialFolder="Inbox"][NewMessages="true"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder-inbox-new.png");
}

/* ..... Sent ..... */

.icon-holder[type="folder"][SpecialFolder="Sent"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
  list-style-image: url("chrome://messenger/skin/icons/folder-sent.png");
}

/* ..... Drafts ..... */

.icon-holder[type="folder"][SpecialFolder="Drafts"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
  list-style-image: url("chrome://messenger/skin/icons/folder-draft.png");
}

/* ..... Templates ..... */

.icon-holder[type="folder"][SpecialFolder="Templates"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
  list-style-image: url("chrome://messenger/skin/icons/folder-template.png");
}

/* ..... Outbox ..... */

.icon-holder[type="folder"][SpecialFolder="Outbox"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
  list-style-image: url("chrome://messenger/skin/icons/folder-outbox.png");
}

/* ..... Junk ..... */

.icon-holder[type="folder"][SpecialFolder="Junk"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
  list-style-image: url("chrome://messenger/skin/icons/folder-junk.png");
}

/* ..... Trash ..... */

.icon-holder[type="folder"][SpecialFolder="Trash"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
  list-style-image: url("chrome://messenger/skin/icons/folder-trash.png");
}

/* ..... Saved Searches ..... */

.icon-holder[type="folder"][SpecialFolder="Virtual"],
treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
  list-style-image: url("chrome://messenger/skin/icons/folder-search.png");
}

/* ..... Server Folders ..... */

.icon-holder[type="folder"][IsServer="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-mail.png");
}

.icon-holder[type="folder"][BiffState="NewMail"][IsServer="true"],
treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-mail-new.png");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="pop3"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-pop3, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.png");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="imap"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-imap, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.png");
}

.icon-holder[type="folder"][BiffState="NewMail"][IsServer="true"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock-new.png");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="none"]
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  list-style-image: url("chrome://messenger/skin/icons/server-local.png");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="nntp"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
  list-style-image: url("chrome://messenger/skin/icons/server-news.png");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="nntp"][IsSecure="true"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
  list-style-image: url("chrome://messenger/skin/icons/server-news-lock.png");
}

.icon-holder[type="folder"][IsServer="true"][ServerType="rss"],
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
  list-style-image: url("chrome://communicator/skin/icons/feedIcon16.png");
}

/* ::::: All Servers ::::: */

treechildren::-moz-tree-cell-text(closed, subfoldersHaveUnreadMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, isServer-true),
treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  color: gray;
  font-style: italic;
}

.tree-folder-checkbox {
  list-style-image: none;
}

treechildren::-moz-tree-image(syncCol) {
  list-style-image: url("chrome://global/skin/checkbox/cbox.png");
}

treechildren::-moz-tree-image(syncCol, synchronize-true) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.png");
}

treechildren::-moz-tree-image(syncCol, isServer-true) {
  list-style-image: none;
}

#folderUnreadCol,
#folderTotalCol,
#folderSizeCol {
  text-align: right;
}

#folderNameCol [sortDirection="ascending"] {
  list-style-image: none;
}

#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}

/* ::::: Folder Summary Popup ::::: */

.folderSummary-message-row {
  /* This max width ends up dictating the overall width of the popup
     because it controls how large the preview, subject and sender text can be
     before cropping kicks in */
  max-width: 450px;
}

.folderSummary-subject {
  font-weight: bold; 
}

.folderSummary-previewText {
  color: #8C99AB;
}
