/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== mailWindow1.css ================================================
  == Styles for the main Mail window in the default layout scheme.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://messenger/skin/folderMenus.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :::::
   :: Make sure the min height is small so we can
   :: resize the pane vertically -EDV
   ::::: */

#messagepanebox {
  min-height: 10px;
  height: 0px;
}

/* ..... folder pane adjustments ..... */

.folderview-cycler > .toolbarbutton-text {
  display: none;
}

.folderview-cycler > .toolbarbutton-icon {
  margin: 0px;
}

.folderview-cycler[dir="prev"],
.folderview-cycler[dir="next"]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/arrow/arrow-lft.png");
}

.folderview-cycler[dir="next"],
.folderview-cycler[dir="prev"]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit.png");
}

/* ::::: border adjustments for focus ring and joined splitters ::::: */

#folderpane-splitter {
  border-right: none;
  border-bottom: none;
  border-left: none;
  min-width: 5px;
}

#threadpane-splitter {
  border: none;
  min-height: 5px;
}

#threadpane-splitter[state="collapsed"] {
  border-bottom: 2px solid;
}

/* ..... tree adjustments ..... */

#folderTree {
  border-right: 2px solid;
  -moz-border-right-colors: #DFE5EF #97A4B2;
  min-width: 1px;
}

#threadTree {
  border-bottom: 2px solid;
  -moz-border-bottom-colors: #DFE5EF #97A4B2;
  min-width: 1px;
}

#threadTree,
#accountCentralBox,
#messagepanebox {
  border-left: 2px solid;
  -moz-border-left-colors: #AAB4BF #3B414F;
}

/* ::::: search toolbar ::::: */

#searchToolbar {
  background: url("chrome://global/skin/toolbar/tb-mid.png") #C7D0D9 repeat-x top;
}

#searchToolbar > .toolbar-box > toolbargrippy,
#searchToolbar > .toolbar-box > .toolbar-holder {
  border-top: 1px solid #CED6DD;
  border-right: 1px solid #95A0AD;
  border-bottom: 1px solid #95A0AD;
  border-left: 1px solid #DAE3ED;
}

#searchToolbar > .toolbar-box > toolbargrippy:hover:active {
  border-color: #67737E;
}

/* ::::: location widget ::::: */

#locationIcon {
  list-style-image: none;
}

/* ..... message pane adjustments ..... */

#messagepanebox {
 border-top: 2px solid;
 -moz-border-top-colors: #AAB4BF #3B414F;
}

#msgHeaderView {
  border-left: none !important;
}

#messagepane {
  border: 1px solid #FFFFFF;
  border-right: none;
}

#messagepanebox[focusring="true"] > #messagepanewrapper > #messagepane {
  border-color: #000000;
}

/* ..... tabmail ..... */

.tab-close-button {
  list-style-image: url("chrome://global/skin/icons/close.png");
}

.tabmail-tab[type="folder"][IsServer="true"],
.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[tabIsScrolled] {
  font-style: italic;
}

#tabbar-toolbar {
  background-color: transparent;
  min-height: 0;
}
