/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
  == Images for the Mail primary toolbar.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar masthead ::::: */

#msgToolbar > .toolbar-holder > .toolbar-primary-icon {
  list-style-image: url("chrome://messenger/skin/icons/mast-mail.png");
}

/* ::::: primary toolbar buttons ::::: */

.toolbarbutton-1 {
  min-width: 0px;
}

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(102px 49px 135px 0);
}

#button-getmsg:hover {
  -moz-image-region: rect(102px 99px 135px 50px);
} 

#button-getmsg:hover:active {
  -moz-image-region: rect(102px 149px 135px 100px);
} 

#button-getmsg[disabled] {
  -moz-image-region: rect(102px 199px 135px 150px) !important;
} 

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(170px 49px 203px 0);
}

#button-newmsg:hover {
  -moz-image-region: rect(170px 99px 203px 50px);
} 

#button-newmsg:hover:active {
  -moz-image-region: rect(170px 149px 203px 100px);
} 

#button-newmsg[disabled] {
  -moz-image-region: rect(170px 199px 203px 150px) !important;
} 

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(238px 49px 271px 0);
}

#button-reply:hover {
  -moz-image-region: rect(238px 99px 271px 50px);
} 

#button-reply:hover:active {
  -moz-image-region: rect(238px 149px 271px 100px);
} 

#button-reply[disabled] {
  -moz-image-region: rect(238px 199px 271px 150px) !important;
} 

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(272px 49px 305px 0);
}

#button-replyall:hover {
  -moz-image-region: rect(272px 99px 305px 50px);
} 

#button-replyall:hover:active {
  -moz-image-region: rect(272px 149px 305px 100px);
} 

#button-replyall[disabled] {
  -moz-image-region: rect(272px 199px 305px 150px) !important;
} 

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(68px 49px 101px 0);
}

#button-forward:hover {
  -moz-image-region: rect(68px 99px 101px 50px);
} 

#button-forward:hover:active {
  -moz-image-region: rect(68px 149px 101px 100px);
} 

#button-forward[disabled] {
  -moz-image-region: rect(68px 199px 101px 150px) !important;
} 

#button-file {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(34px 49px 67px 0);
}

#button-file:hover {
  -moz-image-region: rect(34px 99px 67px 50px);
} 

#button-file:hover:active,
#button-file[open] {
  -moz-image-region: rect(34px 149px 67px 100px);
} 

#button-file[disabled] {
  -moz-image-region: rect(34px 199px 67px 150px) !important;
} 

#button-goback {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(578px 49px 611px 0);
}

#button-goback:hover {
  -moz-image-region: rect(578px 99px 611px 50px);
}

#button-goback:hover:active {
  -moz-image-region: rect(578px 149px 611px 100px);
}

#button-goback[disabled] {
  -moz-image-region: rect(578px 199px 611px 150px) !important;
}

#button-goforward {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(612px 49px 645px 0);
}

#button-goforward:hover {
  -moz-image-region: rect(612px 99px 645px 50px);
}

#button-goforward:hover:active {
  -moz-image-region: rect(612px 149px 645px 100px);
}

#button-goforward[disabled] {
  -moz-image-region: rect(612px 199px 645px 150px) !important;
}

#button-next {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(204px 49px 237px 0);
}

#button-next:hover {
  -moz-image-region: rect(204px 99px 237px 50px);
} 

#button-next:hover:active {
  -moz-image-region: rect(204px 149px 237px 100px);
} 

#button-next[disabled] {
  -moz-image-region: rect(204px 199px 237px 150px) !important;
} 

#button-delete {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(0 49px 33px 0);
}

#button-delete:hover {
  -moz-image-region: rect(0 99px 33px 50px);
} 

#button-delete:hover:active {
  -moz-image-region: rect(0 149px 33px 100px);
}

#button-delete[disabled] {
  -moz-image-region: rect(0 199px 33px 150px) !important;
}

toolbarpaletteitem > #button-delete {
  display: -moz-box;
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(136px 49px 169px 0);
}

#button-mark:hover {
  -moz-image-region: rect(136px 99px 169px 50px);
} 

#button-mark:hover:active {
  -moz-image-region: rect(136px 149px 169px 100px);
} 

#button-mark[disabled] {
  -moz-image-region: rect(136px 199px 169px 150px) !important;
} 

#button-junk {
  list-style-image: url("chrome://messenger/skin/icons/btn1.png");
  -moz-image-region: rect(544px 49px 577px 0);
}

#button-junk:hover {
  -moz-image-region: rect(544px 99px 577px 50px);
} 

#button-junk:hover:active {
  -moz-image-region: rect(544px 149px 577px 100px);
}

#button-junk[disabled="true"] {
  -moz-image-region: rect(544px 199px 577px 150px) !important;
}

/* To workaround the mailnews icons are 33px tall and have no small versions */
toolbar[iconsize="small"] > toolbarpaletteitem > #print-button,
toolbar[iconsize="small"] > #print-button {
  list-style-image: url("chrome://communicator/skin/icons/common.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #print-button,
toolbar[iconsize="small"] > #print-button,
#print-button {
  -moz-image-region: rect(5px 42px 38px 0);
}

toolbar[iconsize="small"] > #print-button:hover,
#print-button:hover {
  -moz-image-region: rect(5px 84px 38px 42px);
}

toolbar[iconsize="small"] > #print-button:hover:active,
#print-button:hover:active {
  -moz-image-region: rect(5px 126px 38px 84px);
}

toolbar[iconsize="small"] > #print-button[disabled="true"],
#print-button[disabled="true"] {
  -moz-image-region: rect(5px 168px 38px 126px) !important;
}

#button-stop {
  list-style-image: url("chrome://communicator/skin/icons/btn1.png");
  -moz-image-region: rect(68px 49px 101px 0);
}

#button-stop:hover {
  -moz-image-region: rect(68px 99px 101px 50px);
} 

#button-stop:hover:active {
  -moz-image-region: rect(68px 149px 101px 100px);
}

#button-stop[disabled="true"] {
  -moz-image-region: rect(68px 199px 101px 150px) !important;
}

#sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-32.png");
}

#sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-32-throbber.png");
}

#locationFolders {
  width: 22em;
}


/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #searchInput,
#palette-box #button-search-container,
#palette-box #button-search,
#palette-box #mailviews-container,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

/* ::::: small primary toolbar buttons ::::: */

/* XXXRatty We don't have any small graphics for these buttons yet.
toolbar[iconsize="small"] #button-getmsg {}
toolbar[iconsize="small"] #button-newmsg {}
toolbar[iconsize="small"] #button-reply {}
toolbar[iconsize="small"] #button-replyall {}
toolbar[iconsize="small"] #button-forward {}
toolbar[iconsize="small"] #button-file {}
toolbar[iconsize="small"] #button-goback {}
toolbar[iconsize="small"] #button-goforward {}
toolbar[iconsize="small"] #button-next {}
toolbar[iconsize="small"] #button-junk {}
toolbar[iconsize="small"] #button-delete {}
toolbar[iconsize="small"] #button-mark {}
*/

toolbar[iconsize="small"] #button-stop {
  list-style-image: url("chrome://communicator/skin/icons/common-small.png");
  -moz-image-region: rect(19px 19px 38px 0);
}

toolbar[iconsize="small"] #button-stop:hover {
  -moz-image-region: rect(19px 38px 38px 19px);
}

toolbar[iconsize="small"] #button-stop:hover:active {
  -moz-image-region: rect(19px 57px 38px 38px);
}

toolbar[iconsize="small"] #button-stop[disabled="true"] {
  -moz-image-region: rect(19px 76px 38px 57px) !important;
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button,
toolbar[iconsize="small"] > #sync-button {
  list-style-image: url("chrome://communicator/skin/sync/sync-16.png");
}

toolbar[iconsize="small"] > toolbarpaletteitem > #sync-button[status=active],
toolbar[iconsize="small"] > #sync-button[status=active] {
  list-style-image: url("chrome://communicator/skin/sync/sync-16-throbber.png");
}

/* ::::: Lightning icon sizes ::::: */

#lightning-button-calendar > .toolbarbutton-icon,
#lightning-button-tasks > .toolbarbutton-icon,
#extractEventButton .toolbarbutton-icon,
#extractTaskButton .toolbarbutton-icon {
  width: 33px;
  height: 33px;
}

#lightning-button-calendar[disabled="true"] > .toolbarbutton-icon,
#lightning-button-tasks[disabled="true"] > .toolbarbutton-icon,
#extractEventButton[disabled="true"] .toolbarbutton-icon,
#extractTaskButton[disabled="true"] .toolbarbutton-icon {
  opacity: 0.3;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBar {
  border-bottom: 1px solid;
  -moz-border-bottom-colors: #000000;
  -moz-appearance: toolbox;
  background-color: #C7BC8F;
  color: black;
}

.messageImage[value="remoteContent"] {
  list-style-image: url("chrome://messenger/skin/icons/remote-blocked.png");
}

.messageImage[value="junkContent"] {
  list-style-image: url("chrome://messenger/skin/icons/junk.png");
}

.messageImage[value="phishingContent"] {
  list-style-image: url("chrome://messenger/skin/icons/phishing.png");
}

.messageImage[value="mdnContent"] {
  list-style-image: url("chrome://messenger/skin/icons/info.png");
}
