/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== subscribe.css ==================================================
  == Styles for the Subscribe dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: subscribed icons  :::::: */

treechildren::-moz-tree-checkbox {
  list-style-image: none;
}

treechildren::-moz-tree-image(subscribedColumn),
treechildren::-moz-tree-image(subscribedColumn2) {
  list-style-image: url("chrome://global/skin/checkbox/cbox.png");
}

treechildren::-moz-tree-image(subscribedColumn, subscribed-true),
treechildren::-moz-tree-image(subscribedColumn2, subscribed-true) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.png");
}

treechildren::-moz-tree-image(subscribedColumn, subscribable-false) {
  list-style-image: none;
}

treechildren::-moz-tree-cell-text(nameColumn, subscribable-false) {
  color: gray;
  font-style: italic;
}

/* ::::: folder icons :::::: */

treechildren::-moz-tree-image(nameColumn) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder-closed.png");
}

treechildren::-moz-tree-image(nameColumn, serverType-nntp),
treechildren::-moz-tree-image(nameColumn2, serverType-nntp) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.png");
}

/* ::::: server icons :::::: */

.subscribeMenuItem {
  list-style-image: url("chrome://messenger/skin/icons/server-mail.png");
}

.subscribeMenuItem[ServerType="imap"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.png");
}

.subscribeMenuItem[ServerType="nntp"] {
  list-style-image: url("chrome://messenger/skin/icons/server-news.png");
}

.subscribeMenuItem[ServerType="nntp"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-news-lock.png");
}

/* ::::: statusbar adjustments :::::: */

statusbarpanel,
.progressmeter-statusbar {
  border: none !important;
}

#statusContainerBox {
  margin-inline-end: 4px;
}
