/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== virtualFolderListDialog.css ==================================================
  == Styles for the virtual folder list dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/mailWindow1.css");
@import url("chrome://messenger/skin/folderPane.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-image(selectedColumn) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://global/skin/checkbox/cbox.png");
}

treechildren::-moz-tree-image(selectedColumn, selected-true) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.png");
}
