/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tabs ::::: */

.tabbrowser-strip {
  padding-bottom: 3px;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: #000000 #BAC2CD;
}

.tabbrowser-tabs {
  padding-top: 1px;
}

.tabs-left {
  width: 3px;
}

tab {
  padding: 0px 3px;
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg");
}

tab[busy] {
  list-style-image: url("chrome://communicator/skin/icons/loading.png");
}

.tab-icon {
  margin-inline-end: 3px;
  width: 16px;
  height: 16px;
}

/* ::::: Tab scrollbox arrow, and all-tabs buttons ::::: */

.scrollbutton-up,
.scrollbutton-down,
.tabs-alltabs-button {
  margin: 0px;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: #000000 transparent;
}

.scrollbutton-up:not([disabled="true"]):-moz-locale-dir(ltr),
.scrollbutton-down:not([disabled="true"]):-moz-locale-dir(rtl) {
  border-right: 2px solid;
  -moz-border-right-colors: #000000 transparent;
}

.scrollbutton-up:not([disabled="true"]):-moz-locale-dir(rtl),
.scrollbutton-down:not([disabled="true"]):-moz-locale-dir(ltr) {
  border-left: 2px solid;
  -moz-border-left-colors: #000000 transparent;
}

.scrollbutton-down {
  transition: background-color 1s ease-out;
}

.scrollbutton-down:hover,
.scrollbutton-down[notifybgtab="true"],
.scrollbutton-down[disabled="true"] {
  transition: none;
}

.scrollbutton-down[notifybgtab="true"] {
  background-color: #8C9AA8;
}

.scrollbutton-up:not([disabled="true"]):hover,
.scrollbutton-down:not([disabled="true"]):hover {
  border-color: #EEF0F3;
}

.scrollbutton-up:not([disabled="true"]):hover:active,
.scrollbutton-down:not([disabled="true"]):hover:active {
  border-color: #86929E;
  background-color: #8C9AA8;
}

.tabs-alltabs-button > .toolbarbutton-icon {
  margin: 0px;
}

/* All tabs menupopup */
.alltabs-item {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg");
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://communicator/skin/icons/loading.png");
}

.alltabs-item[tabIsScrolled] {
  font-style: italic;
}

/* ::::: close button ::::: */

.tabs-closebutton {
  margin: 0px 4px;
  padding: 3px 2px;
  border: none;
  list-style-image: url("chrome://global/skin/icons/close.png");
}

.tabs-closebutton:hover {
  list-style-image: url("chrome://global/skin/icons/close-hov.png");
}

.tabs-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-act.png");
}

.tabs-closebutton[disabled="true"] {
  padding: 3px 2px !important;
  list-style-image: url("chrome://global/skin/icons/close-dis.png") !important;
}

.tabs-newbutton {
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
  border: none;
  list-style-image: url("chrome://navigator/skin/icons/tab-new.png");
}

.tabs-newbutton:hover {
  list-style-image: url("chrome://navigator/skin/icons/tab-new-hov.png");
}

.tabs-newbutton:hover:active {
  list-style-image: url("chrome://navigator/skin/icons/tab-new-act.png");
}

.tab-drop-indicator {
  position: relative;
  z-index: 1;
  list-style-image: url('chrome://navigator/skin/icons/tab-drag-indicator.png');
}
