/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Line up the actions menu with action labels above and below it.
 * Equalize the distance from the left side of the action box to the left side
 * of the icon for both the menu and the non-menu versions of the action box.
 * Also make sure the labels are the same distance away from the icons.
 */
.actionsMenu {
  margin-top: -1px;
  margin-bottom: -1px;
  margin-inline-start: -1px;
  margin-inline-end: 0;
}

.typeIcon,
.actionIcon {
  margin: 0px 3px;
}

#handlersView richlistitem label {
  margin-inline-start: 1px;
  margin-top: 2px;
}

#handlersView richlistitem {
  min-height: 25px;
}

richlistitem[appHandlerIcon="ask"],
menuitem[appHandlerIcon="ask"] {
  list-style-image: url("chrome://messenger/skin/preferences/alwaysAsk.png");
}

richlistitem[appHandlerIcon="save"],
menuitem[appHandlerIcon="save"] {
  list-style-image: url("moz-icon://stock/gtk-save?size=menu");
}

.actionsMenu .menulist-icon {
  margin-inline-end: 1px;
  height: 16px;
  width: 16px;
}

.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  padding-inline-start: 0;
  padding-inline-end: 4px !important;
}

.actionsMenu > menupopup > menuitem {
  padding-inline-start: 3px;
}

.shortDetails {
  text-align: right;
  color: GrayText;
}

#handlersView richlistbox:focus .shortDetails.selected {
  color: inherit;
}

/**
 * Used by the outgoing attachment manager
 */
.cloudfileAccount[state="connecting"],
.cloudfileAccount[state="waiting-to-connect"] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
}

.cloudfileAccount[state="auth-error"],
.cloudfileAccount[state="no-connection"] {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=menu")!important;
}

.cloudfileAccount .typeIcon {
  max-height: 16px;
  max-width: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#authMessage {
  text-align: center;
  padding: 0px 80px;
}

#authImage {
  list-style-image: url("chrome://messenger/skin/preferences/auth-error.png");
  width: 200px;
  height: 200px;
}

#cloudFileToggleAndThreshold {
  margin-bottom: 15px;
}

#cloudFileLoadingSpinner {
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://global/skin/icons/loading.png");
}
