/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar-common/skin/calendar-unifinder.css);

#bottom-events-box {
  border-inline-start: 1px solid ThreeDShadow;
}

#unifinder-searchBox {
  border-bottom: 1px solid ThreeDShadow;
}

.unifinder-closebutton {
  -moz-appearance: none;
  border: none;
  padding: 2px;
  background: transparent;
}

@media (-moz-windows-default-theme) {
  #unifinder-searchBox {
    background-color: #f8f8f8;
    height: 33px;
  }
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  #unifinder-searchBox {
    height: 35px;
  }
}

@media (-moz-os-version: windows-win10) {
  .unifinder-closebutton {
    -moz-image-region: rect(0 20px 20px 0);
  }

  .unifinder-closebutton:hover {
    -moz-image-region: rect(0 40px 20px 20px);
  }

  .unifinder-closebutton:hover:active {
    -moz-image-region: rect(0 60px 20px 40px);
  }
}
