/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

panel[disabled="true"] > .viewer-pane-box-1 {
  visibility: collapse;
}

.viewer-menu, .viewer-list {
  -moz-user-focus: normal;
}

.viewer-list {
  list-style-image: url("chrome://inspector/skin/iconViewerList.png");
}

.viewer-list[disabled="true"] {
  list-style-image: url("chrome://inspector/skin/iconViewerList-dis.png");
}

.viewer-pane-toolbox {
  border-right: none;
}

.viewer-pane-box-2 {
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDShadow;
}

.viewer-pane-toolbox {
  border-top: none;
  border-bottom: none;
}

