/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== prefpanels.css ==================================================
   == Styles used by all preference panels in the Communicator suite.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Fonts ::::: */

#sizeVar,
#sizeMono {
  width: 4em;
}

.prefpanel-font-list {
  -moz-box-flex: 1;
}

/* checkbox which is disabled for changes but non-gray text (i.e., in effect) */

checkbox.nogray-disabled[disabled="true"][nogray="true"]
  > .checkbox-label-box > .checkbox-label {
  color: inherit !important;
}

/* ::::: Applications ::::: */
/**
 * Line up the actions menu with action labels above and below it.
 * Equalize the distance from the left side of the action box to the left side
 * of the icon for both the menu and the non-menu versions of the action box.
 * Also make sure the labels are the same distance away from the icons.
 */

.handler-action,
.handler-type {
  padding: 0;
}

.handler-action > .listcell-icon,
.handler-type > .listcell-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline-start: 7px;
  margin-inline-end: 2px;
  height: 16px;
  width: 16px;
}

.handler-action > .listcell-label,
.handler-type > .listcell-label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline-start: 0px;
  padding-inline-end: 5px;
}

.actionsMenu {
  margin: 0;
}

.actionsMenu > .menulist-label-box {
  padding-inline-start: 0;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin: 0 2px;
  height: 16px;
  width: 16px;
}

.handler-action > .menu-iconic-left > .menu-iconic-icon {
  margin-inline-start: 6px;
}

/* Set icons on app pane elements */

.handler-action[appHandlerIcon="app"] {
  list-style-image: url("chrome://communicator/skin/icons/application.png");
}

.handler-action[appHandlerIcon="ask"] {
  list-style-image: url("chrome://communicator/skin/icons/alwaysAsk.png");
}

.handler-action[appHandlerIcon="save"] {
  list-style-image: url("chrome://communicator/skin/icons/save.png");
}

.handler-action[appHandlerIcon="feed"] {
  list-style-image: url("chrome://communicator/skin/icons/feedIcon16.png");
}

.handler-type[typeClass="unknown"] {
  list-style-image: url("moz-icon://goat?size=16");
}

.handler-type[typeClass="webFeed"],
.handler-type[typeClass="videoPodcastFeed"],
.handler-type[typeClass="audioPodcastFeed"] {
  list-style-image: url("chrome://communicator/skin/icons/feedIcon16.png");
}

/* ::::: Search ::::: */

#engineList > .menulist-label-box > .menulist-icon {
  height: 16px;
  width: 16px;
}

/* ::::: Sync ::::: */

#syncDesc {
  padding: 0 12em;
}
