/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://inspector/skin");
@import url("chrome://inspector/content/extensions/treeEditable.css");

#olcPropPriority {
  list-style-image: url("chrome://inspector/skin/iconImportant.png");
}

#olbStyleProps::-moz-tree-image(olcPropPriority, important) {
  list-style-image: url("chrome://inspector/skin/iconImportant.png");
}

/* ::::: default column widths ::::: */

#olcLine {
  width: 5em;
}

