/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL grippytoolbar in addition to general toolbar styles.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbargrippy {
  display: none;
  -moz-box-orient: vertical;
  -moz-box-align: center;
  width: 10px;
  padding: 2px 1px;
  list-style-image: url("chrome://communicator/skin/toolbar/tbgrip-arrow.png");
}

toolbargrippy:hover {
  background-color: ThreeDHighlight;
}

.toolbargrippy-texture {
  margin-top: 2px;
  width: 6px;
  background: url("chrome://communicator/skin/toolbar/tbgrip-texture.png");
}

/* ::::: collapsed tray and grippies ::::: */

toolbargrippy[tbgrippy-collapsed="true"] {
  -moz-box-orient: horizontal;
  border-left: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDHighlight;
  border-right: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
  width: 40px;
  height: 10px;
  padding: 1px 2px;
  list-style-image: url("chrome://communicator/skin/toolbar/tbgrip-arrow-clps.png");
}

toolbargrippy[tbgrippy-collapsed="true"] > .toolbargrippy-texture {
  margin-top: 0;
  margin-inline-start: 2px;
  width: 0px;
  height: 6px;
}

.collapsed-tray-spacer {
  border-bottom: 1px solid ThreeDShadow;
}

/* ::::: solid background status bar panel ::::: */

.statusbarpanel-backgroundbox {
  -moz-box-align: stretch;
  padding: 0px;
}

.statusbarpanel-backgroundbox > .statusbarpanel-contentbox {
  padding: 0px 1px;
  -moz-box-align: center;
}
