/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== bookmarks.css ==================================================
  == Styles specific to widgets containing bookmarks.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: bookmark items ::::: */

treechildren::-moz-tree-image(Name),
treechildren::-moz-tree-image(title) {
  margin-inline-end: 2px;
  width: 16px;
  height: 16px;
}

.bookmark-item,
treechildren::-moz-tree-image(title) {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg");
}

.bookmark-item[container="true"],
treechildren::-moz-tree-image(title, container) {
  list-style-image: url("chrome://communicator/skin/places/bookmark-folder-closed.png");
}

.bookmark-item[open="true"],
treechildren::-moz-tree-image(title, open) {
  list-style-image: url("chrome://communicator/skin/places/bookmark-folder-open.png");
}

.bookmark-item[container="true"][open="true"][loading="true"] {
  list-style-image: url("chrome://communicator/skin/icons/loading.png") !important;
}

.bookmark-item > .toolbarbutton-box > .toolbarbutton-icon {
  list-style-image: inherit;
  width: 16px;
  height: 16px;
}

.bookmark-item[container][livemark],
treechildren::-moz-tree-image(title, container, livemark) {
  list-style-image: url("chrome://communicator/skin/places/livemark-folder.png");
  -moz-image-region: auto;
}

.bookmark-item[container][livemark] .bookmark-item,
treechildren::-moz-tree-image(title, livemarkItem) {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item-updated.png");
}

.bookmark-item[container][livemark] .bookmark-item[visited],
treechildren::-moz-tree-image(title, livemarkItem, visited) {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item.svg");
}

treechildren::-moz-tree-image(container, OrganizerQuery_AllBookmarks) {
  list-style-image: url("chrome://communicator/skin/places/allBookmarks.png");
  -moz-image-region: auto;
}

#bookmarksToolbarFolderMenu,
#BMB_bookmarksToolbarFolderMenu,
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksToolbar) {
  list-style-image: url("chrome://communicator/skin/places/bookmarksToolbar.png");
  -moz-image-region: auto;
}

treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksMenu) {
  list-style-image: url("chrome://communicator/skin/places/bookmarksMenu.png");
  -moz-image-region: auto;
}

#unsortedBookmarksFolderMenu,
#BMB_unsortedBookmarksFolderMenu,
treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks) {
  list-style-image: url("chrome://communicator/skin/places/unsortedBookmarks.png");
  -moz-image-region: auto;
}

/* query-nodes should be styled even if they're not expandable */
.bookmark-item[container][query],
treechildren::-moz-tree-image(query) {
  list-style-image: url("chrome://communicator/skin/places/query.png");
  -moz-image-region: auto;
}

.bookmark-item[query][tagContainer],
treechildren::-moz-tree-image(title, query, tagContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_Tags) {
  list-style-image: url("chrome://communicator/skin/places/tag.png");
  -moz-image-region: auto;
}

/* calendar icon for folders grouping items by day */
treechildren::-moz-tree-image(title, query, dayContainer) {
  list-style-image: url("chrome://communicator/skin/places/calendar.png");
  -moz-image-region: auto;
}

treechildren::-moz-tree-image(query, OrganizerQuery_History) {
  list-style-image: url("chrome://communicator/skin/places/history.png");
  -moz-image-region: auto;
}

treechildren::-moz-tree-image(title, separator) {
  list-style-image: none;
  width: 0px;
  height: 0px;
}

treechildren::-moz-tree-cell-text(title, separator) {
  color: #808080;
  margin: 0px 5px;
}

treechildren::-moz-tree-cell-text(title, separator, selected, focus) {
  color: #FFFFFF;
}
