/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== bookmarksToolbar.css ===========================================
  == Styles specific to bookmark items in a toolbar.
  ======================================================================= */

@import url("chrome://communicator/skin/places/bookmarks.css");

/* ::::: bookmark toolbar buttons ::::: */

/* ..... bookmark items ..... */

toolbarbutton.bookmark-item {
  min-width: 0px;
  max-width: 13em;
}

.bookmark-item > .toolbarbutton-icon {
  background-image: url("chrome://global/skin/filters.svg"); /* Preload filter */
  width: 16px;
  height: 16px;
}

.bookmark-item:not([disabled="true"]):hover:active > .toolbarbutton-icon,
.bookmark-item[open] > .toolbarbutton-icon {
  filter: url("chrome://global/skin/filters.svg#iconPressed");
}

toolbarbutton.bookmark-item[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.5 !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* ::::: bookmark menus ::::: */

.bookmark-group {
  list-style-image: url(chrome://communicator/skin/places/bookmark-group.png) !important;
}

.menuitem-iconic.bookmark-item[disabled="true"] {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item-dis.png");
}

.menu-iconic.bookmark-item[disabled="true"][container="true"] {
  opacity: 0.5;
}

/* ..... drag and drop styles ..... */

#PlacesToolbarDropIndicator {
  list-style-image: url("chrome://communicator/skin/places/toolbarDropMarker.png");
}

.bookmark-item[dragover-into="true"] {
  background: Highlight !important;
  color: HighlightText !important;
}

/* rules for menupopup drop indicators */
.menupopup-drop-indicator-bar {
  position: relative;
  /* these two margins must together compensate the indicator's height */
  margin-top: -1px;
  margin-bottom: -1px;
}

.menupopup-drop-indicator {
  list-style-image: none;
  height: 2px;
  margin-inline-end: -4em;
  background-color: Highlight;
}
