/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#placesList {
  padding: 0;
  -moz-appearance: -moz-mac-source-list;
  -moz-font-smoothing-background-color: -moz-mac-source-list;
}

#placesList > treechildren::-moz-tree-row(selected) {
  -moz-appearance: -moz-mac-source-list-selection;
  -moz-font-smoothing-background-color: -moz-mac-source-list-selection;
}

#placesList > treechildren::-moz-tree-row(selected, focus) {
  -moz-appearance: -moz-mac-active-source-list-selection;
  -moz-font-smoothing-background-color: -moz-mac-active-source-list-selection;
}

#placesList > treechildren::-moz-tree-twisty(selected),
#placesList > treechildren::-moz-tree-cell-text(selected) {
  color: #FFFFFF;
  fill-opacity: 1;
}

#placesList > treechildren::-moz-tree-twisty {
  width: 16px;
  padding-bottom: 1px;
}

@media (-moz-mac-yosemite-theme) {
  #placesList > treechildren::-moz-tree-twisty(selected),
  #placesList > treechildren::-moz-tree-cell-text(selected) {
    color: -moz-dialogtext;
    fill-opacity: 0.6;
  }

  #placesList > treechildren::-moz-tree-twisty(selected, focus),
  #placesList > treechildren::-moz-tree-cell-text(selected, focus) {
    color: #FFFFFF;
    fill-opacity: 1;
  }
}

#placeContent {
  border: 0;
}

#placeContent > treechildren::-moz-tree-row {
  border-top: none !important;
}

#placeContent > treechildren::-moz-tree-cell,
#placeContent > treechildren::-moz-tree-column {
  border-right: 1px solid #D7DAD7;
}

#placeContent > treechildren::-moz-tree-cell(separator) {
  border-color: transparent;
}

#placesList-splitter {
  border: solid #B3B3B3;
  border-width: 0 1px 0 0;
  background-image: none;
  min-width: 1px;
}

/* This splitter is always disabled and contains a grippy... see bug 591779 */
#detailsDeck-splitter {
  display: none;
}

#detailsDeck {
  border-top: 1px solid #919191;
  background-color: #F0F0F0;
  padding: 10px;
}

#infoBoxExpander {
  margin: 0;
}

#infoBoxExpanderLabel {
  display: none;
}

#advancedSearch > hbox,
#advancedSearchRows > row {
  background-color: #E8E8E8;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #BABABA;
}

#advancedSearchRows > row,
#searchActions {
  padding-inline-start: 2px;
  padding-inline-end: 8px;
}

#organizerScopeBar {
  padding: 3px;
  -moz-appearance: none;
  background: linear-gradient(#E8E8E8, #D0D0D0) repeat-x;
  border-bottom: 1px solid #888888;
}

#scopeBarTitle {
  font: icon;
  color: #6D6D6D;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, .4);
  margin: 0 6px 1px;
}

button[group="scopeBar"] {
  -moz-appearance: none;
  -moz-box-pack: center;
  border: 0;
  font: icon;
  font-weight: bold;
  min-width: 0;
  color: #2D2D2D;
  border-radius: 10000px;
  padding: 0 10px 1px;
  margin: 1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

button[group="scopeBar"]:hover,
button[group="scopeBar"][checked="true"] {
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, .4);
  background-color: rgba(0, 0, 0, .32);
}

button[group="scopeBar"]:active:hover,
button[group="scopeBar"][checked="true"] {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.4);
}

button[group="scopeBar"]:active:hover {
  background-color: rgba(0, 0, 0, .5);
}

.button-text {
  margin: 0 !important;
}

#organizerScopeBarExpander {
  margin: 0;
  padding: 0;
  padding-inline-end: 2px;
}

#saveSearch {
  margin: 0 4px;
  padding: 0 10px;
  min-width: 0;
  -moz-appearance: none;
  border-radius: 10000px;
  border: 1px solid rgba(0, 0, 0, .4);
  text-shadow: 0 1px rgba(255, 255, 255, .4);
  background: linear-gradient(#FFF, #CACACA) repeat-x;
  box-shadow: 0 1px rgba(255, 255, 255, .4);
}

#saveSearch:active:hover {
  background: #CCCCCC;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2), 0 1px rgba(255, 255, 255, .4);
}

#saveSearch:focus {
  box-shadow: 0 0 1px -moz-mac-focusring inset, 0 0 3px 1px -moz-mac-focusring, 0 0 1.5px 1px -moz-mac-focusring, 0 1px rgba(255, 255, 255, .4);
}

#saveSearch:active:hover:focus {
  box-shadow: 0 0 1px -moz-mac-focusring inset, 0 0 3px 1px -moz-mac-focusring, 0 0 1.5px 1px -moz-mac-focusring, inset 0 1px 3px rgba(0, 0, 0, .2), 0 1px rgba(255, 255, 255, .4);
}
