/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#addons-page {
  padding: 18px;
}

#view-port-container {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  /* Disabled because of bug 623615
  overflow: hidden;
  */
  background-color: #C7D0D9;
  border: 1px solid #494F5D;
  border-radius: 5px;
}

.nav-button {
  list-style-image: url(chrome://mozapps/skin/extensions/navigation.png);
}

#forward-btn {
  border-inline-start: none;
}

#back-btn:-moz-locale-dir(ltr),
#forward-btn:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0, 18px, 18px, 0);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#back-btn:-moz-locale-dir(rtl),
#forward-btn:-moz-locale-dir(ltr) {
  -moz-image-region: rect(0, 36px, 18px, 18px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/*** global warnings ***/

.global-warning-container {
  overflow-x: hidden;
}

.global-warning {
  -moz-box-align: center;
  padding: 0 8px;
  color: #916D15;
  font-weight: bold;
}

#addons-page[warning] .global-warning-container {
  background-color: rgba(255, 255, 0, 0.1);
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png");
  background-repeat: repeat-x;
}

#detail-view .global-warning {
  padding: 4px 12px;
  border-bottom: 1px solid #CAD4E0;
}

@media (max-width: 600px) {
  .global-warning-text {
    display: none;
  }

  .global-warning .warning-icon {
    background-color: #FFF;
    box-shadow: 0px 0px 2px 5px #FFF;
    border-radius: 10px;
  }
}

/*** notification icons ***/

.warning-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-warning.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.error-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-error.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.pending-icon,
.info-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-positive.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.addon-view[pending="disable"] .pending-icon,
.addon-view[pending="uninstall"] .pending-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}


/*** view alert boxes ***/

.alert-container {
  -moz-box-align: center;
}

.alert-spacer-before {
  -moz-box-flex: 1;
}

.alert-spacer-after {
  -moz-box-flex: 3;
}

.alert {
  -moz-box-align: center;
  padding: 10px;
  color: #000000;
  border: 1px solid #494F5D;
  border-radius: 8px;
  background-color: #C7D0D9;
}

.alert .alert-title {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}

.alert .addon-control {
  margin: 1em 2em;
}

.loading {
  list-style-image: url("chrome://communicator/skin/icons/loading.png");
  padding-left: 20px;
  padding-right: 20px;
}


/*** category selector ***/

#categories {
  -moz-appearance: none;
  border: none;
  margin-inline-end: -1px;
  background-color: transparent;
  position: relative;
  margin-top: 31px;
}

.category {
  -moz-appearance: none;
  background-color: transparent;
  color: #252F3B;
  min-height: 0;
  padding: 10px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -moz-box-align: center;
  overflow: hidden;
}

.category:-moz-locale-dir(ltr) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.category:-moz-locale-dir(rtl) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.category[disabled] {
  border-top: 0;
  border-bottom: 0;
  height: 0;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 1s, 0.8s;
}

.category:not([disabled]) {
  height: 52px;
  transition-property: height, opacity;
  transition-duration: 1s, 0.8s;
}

.category[selected] {
  background-color: #C7D0D9;
  color: #000000;
  border-color: #494F5D;
  border-inline-end-color: #C7D0D9;
}

.category-name {
  font-size: 150%;
}

/* Maximize the size of the viewport when the window is small */
@media (max-width: 800px) {
  .category-name {
    display: none;
  }
}

.category-badge {
  background-color: #55D4FF;
  padding: 2px 8px;
  margin: 6px 0;
  border-radius: 10000px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.category-badge[value="0"] {
  visibility: hidden;
}

.category-icon {
  width: 32px;
  height: 32px;
  margin-inline-start: 6px;
}

#category-search {
  list-style-image: url("chrome://mozapps/skin/extensions/category-search.png");
}
#category-discover {
  list-style-image: url("chrome://mozapps/skin/extensions/category-discover.png");
}
#category-locale {
  list-style-image: url("chrome://mozapps/skin/extensions/category-languages.png");
}
#category-searchengine {
  list-style-image: url("chrome://mozapps/skin/extensions/category-searchengines.png");
}
#category-extension {
  list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.png");
}
#category-theme {
  list-style-image: url("chrome://mozapps/skin/extensions/category-themes.png");
}
#category-plugin {
  list-style-image: url("chrome://mozapps/skin/extensions/category-plugins.png");
}
#category-dictionary {
  list-style-image: url("chrome://mozapps/skin/extensions/category-dictionaries.png");
}
#category-availableUpdates {
  list-style-image: url("chrome://mozapps/skin/extensions/category-available.png");
}
#category-recentUpdates {
  list-style-image: url("chrome://mozapps/skin/extensions/category-recent.png");
}


/*** header ***/

#header {
  margin-bottom: 18px;
}

#header-search {
  margin: 0;
}

#header-utils-btn {
  list-style-image: url("chrome://mozapps/skin/extensions/utilities.png");
  margin-inline-end: 16px;
}

.view-header {
  background-color: rgba(251, 252, 253, 0.25);
  padding: 4px;
  margin: 0;
  min-height: 31px;
  border-bottom: 1px solid #CAD4E0;
}


/*** sorters ***/

.sort-controls {
  -moz-appearance: none;
}

.sorter {
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  color: #536680;
  border-radius: 10000px;
  padding: 0 6px;
  margin: 0 6px;
  min-width: 12px !important;
  -moz-box-direction: reverse;
}

.sorter .button-box {
  padding-top: 0;
  padding-bottom: 0;
}

.sorter[checkState="1"],
.sorter[checkState="2"] {
  background-color: rgba(194, 200, 206, 0.4);
  box-shadow: 1px 1px 2px #B6BBC4 inset;
}

.sorter[checkState="1"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
}

.sorter[checkState="2"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.png");
}

.sorter .button-icon {
  margin-inline-start: 4px;
}


/*** discover view ***/

.discover-spacer-before,
.discover-spacer-after {
  -moz-box-flex: 1;
}

#discover-error .alert {
  max-width: 45em;
  -moz-box-flex: 1;
}

.discover-logo {
  list-style-image: url("chrome://mozapps/skin/extensions/discover-logo.png");
  margin-inline-end: 15px;
}

.discover-title {
  font-weight: bold;
  font-size: 24px;
  font-family: MetaWebPro-Book, "Trebuchet MS", sans-serif;
  margin: 0 0 15px 0;
}

.discover-description {
  text-align: justify;
  margin: 0 0 15px 0;
}

.discover-footer {
  text-align: justify;
}


/*** list ***/

.list {
  -moz-appearance: none;
  margin: 0;
  border: none;
  background-color: transparent;
}

.addon {
  color: black;
  border-top: 2px solid;
  -moz-border-top-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid;
  -moz-border-bottom-colors: rgba(255, 255, 255, 0.1);
  padding: 5px;
  background-origin: border-box;
}

.view-pane:not(#search-view) .addon:first-of-type,
#search-view .addon[first] {
  border-top-width: 1px;
  -moz-border-top-colors: rgba(255, 255, 255, 0.1);
}

.view-pane:not(#search-view) .addon:last-of-type,
#search-view .addon[last] {
  border-bottom-width: 2px;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
}

.details {
  cursor: pointer;
  margin: 0;
  margin-inline-start: 10px;
}

.icon-container {
  width: 48px;
  height: 48px;
  margin: 3px 7px;
  -moz-box-align: center;
  -moz-box-pack: center;
}

.icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
  max-width: 48px;
  max-height: 48px;
}

.addon[active="false"] .icon {
  filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}


.addon-view[type="theme"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

.addon-view[type="locale"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

.addon-view[type="plugin"] .icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

.addon-view[type="dictionary"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}

.name-container {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0;
  -moz-box-align: end;
  -moz-box-flex: 1;
}

.creator {
  font-weight: bold;
}

.creator .text-link {
  color: #0066CC;
}

.description-container {
  margin-inline-start: 6px;
  -moz-box-align: center;
}

.description {
  margin: 0;
}

.warning,
.pending,
.error {
  margin-inline-start: 48px;
  font-weight: bold;
  -moz-box-align: center;
}

.content-container,
.basicinfo-container {
  -moz-box-align: start;
}

.addon[status="installing"] > .content-container {
  -moz-box-align: stretch;
}

.advancedinfo-container,
.update-info-container {
  -moz-box-align: center;
}

.update-available {
  -moz-box-align: end;
}

.install-status-container {
  -moz-box-pack: end;
  -moz-box-align: end;
}

.name-outer-container {
  -moz-box-pack: center;
}

.relnotes-toggle-container,
.icon-outer-container {
  -moz-box-pack: start;
}

.status-container,
.control-container {
  -moz-box-pack: end;
}

.addon-view .warning {
  color: #916D15;
}

.addon-view .error {
  color: #864441;
}

.addon-view .pending {
  color: #1B7123;
}

.addon-view[pending="disable"] .pending,
.addon-view[pending="uninstall"] .pending {
  color: #62666E;
}

.addon .relnotes-container {
  -moz-box-align: start;
  margin-inline-start: 6px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon[show-relnotes] .relnotes-container {
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon .relnotes-header {
  font-weight: bold;
  margin: 10px 0;
}

.addon .relnotes-toggle {
  -moz-appearance: none;
  border: none;
  background: transparent;
  font-weight: bold;
  -moz-box-direction: reverse;
  cursor: pointer;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
}

.addon .relnotes-toggle > .button-box > .button-icon {
  padding-inline-start: 4px;
}

.addon[show-relnotes] .relnotes-toggle {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.png");
}

.addon[active="false"] {
  background-color: #B7BFCB;
}

.addon-view[active="false"],
.addon-view[active="false"] .name-container {
  color: #8C99AB;
}

.addon-view[notification="warning"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png"),
                    linear-gradient(rgba(255, 255, 0, 0.04),
                                    rgba(255, 255, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[notification="error"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-error.png"),
                    linear-gradient(rgba(255, 0, 0, 0.04),
                                    rgba(255, 0, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[pending="enable"],
.addon-view[pending="upgrade"],
.addon-view[pending="install"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-positive.png"),
                    linear-gradient(rgba(0, 255, 0, 0.04),
                                    rgba(0, 255, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[pending="disable"],
.addon-view[pending="uninstall"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png"),
                    linear-gradient(rgba(128, 128, 128, 0.04),
                                    rgba(128, 128, 128, 0));
  background-repeat: repeat-x;
}

.addon[selected] {
  background-color: rgba(148, 172, 204, 0.39);
  color: black;
}

.addon[active="false"][selected] .name-container {
  color: #8C99AB;
}


/*** item - uninstalled ***/

.addon[status="uninstalled"] {
  border: none;
}

.addon[status="uninstalled"] > .container {
  -moz-box-align: center;
  padding: 4px 20px;
  background-color: #FDFFA8;
  border-radius: 8px;
  font-size: 120%;
}

.addon[status="uninstalled"][selected] {
  background-color: transparent;
}



/*** search view ***/

#search-filter {
  padding: 5px 20px;
  font-size: 120%;
  border-bottom: 1px solid #CAD4E0;
  overflow-x: hidden;
}

#search-filter-label {
  font-weight: bold;
  color: grey;
}

.search-filter-radio {
  -moz-appearance: none;
  padding: 0 6px;
  margin: 0 3px;
  border-radius: 10000px;
}

.search-filter-radio[selected] {
  background-color: grey;
  color: white;
}

.search-filter-radio .radio-check-box1 {
  display: none;
}

.search-filter-radio .radio-icon {
  display: none;
}

#search-allresults-link {
  margin-top: 1em;
  margin-bottom: 2em;
}

/*** detail view ***/

#detail-view .loading {
  opacity: 0;
}

#detail-view[loading-extended] .loading {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}

.detail-view-container {
  padding: 0 2em 2em 2em;
  font-size: 110%;
}

#detail-notifications {
  margin-top: 1em;
  margin-bottom: 2em;
}

#detail-notifications .warning,
#detail-notifications .pending,
#detail-notifications .error {
  margin-inline-start: 0;
}

#detail-icon {
  margin-inline-end: 10px;
  margin-top: 6px;
  max-width: 64px;
  max-height: 64px;
}

#detail-summary {
  margin-bottom: 2em;
}

#detail-name-container {
  font-size: 200%;
}

#detail-screenshot {
  margin-inline-end: 2em;
  max-width: 300px;
  max-height: 300px;
}

#detail-desc-container {
  margin-bottom: 2em;
}

#detail-desc, #detail-fulldesc {
  margin-inline-start: 6px;
  /* This is necessary to fix layout issues with multi-line descriptions, see
     bug 592712*/
  outline: solid transparent;
  white-space: pre-wrap;
  min-width: 10em;
}

#detail-fulldesc {
  margin-top: 1em;
}

#detail-contributions {
  border-radius: 5px;
  border: 1px solid #D2DBE8;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F3F7FB;
}

#detail-contrib-description {
  font-style: italic;
  margin-bottom: 1em;
  color: #373D48;
}

#detail-contrib-suggested {
  color: grey;
  font-weight: bold;
}

#detail-contrib-btn {
  color: #FFF;
  border: 1px solid #3A4EEE;
  border-radius: 3px;
  list-style-image: url("chrome://mozapps/skin/extensions/heart.png");
  background-color: #2F73EF;
  background-image: linear-gradient(rgba(251, 252, 253, 0.70), rgba(246, 247, 248, 0.27) 49%,
                                    rgba(231, 232, 233, 0.25) 51%, rgba(225, 226, 229, 0.1));
}

#detail-contrib-btn .button-box {
  padding: 0 6px 1px 6px;
}

#detail-contrib-btn .button-icon {
  margin-inline-end: 3px;
}

#detail-contrib-btn:not(:active):hover {
  border-color: #4271FF;
  background-color: #0459F7;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),
              0 0 3.5px hsl(190, 90%, 80%);
  transition: background-color .4s ease-in,
                   border-color .3s ease-in,
                   box-shadow .3s ease-in
}

#detail-contrib-btn:active:hover {
  background-color: #8FA1C1;
  border-color: rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.55) rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.4) inset,
              0 0 2px rgba(0, 0, 0, 0.4) inset,
              0 1px 0 rgba(255, 255, 255, 0.4);
}

#detail-grid {
  margin-bottom: 2em;
}

.detail-row[first-row="true"],
.detail-row-complex[first-row="true"] {
  border-top: none;
}

.detail-row,
.detail-row-complex {
  border-top: 2px solid;
  -moz-border-top-colors: rgba(28, 31, 37, 0.1) rgba(255, 255, 255, 0.1);
  -moz-box-align: center;
}

.detail-row-value {
  margin-inline-start: 0;
}

#detail-controls {
  margin-bottom: 1em;
}

#detail-view[active="false"]:not([pending]):not([notification]) {
  background-color: #B7BFCB;
}

/*** creator ***/

.creator > label {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.creator > .text-link {
  margin-top: 1px;
  margin-bottom: 1px;
}


/*** rating ***/

.meta-rating {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-top: 2px;
}

.meta-rating > .star {
  list-style-image: url("chrome://mozapps/skin/extensions/rating-not-won.png");
  padding: 0 1px;
}

.meta-rating > .star[on="true"] {
  list-style-image: url("chrome://mozapps/skin/extensions/rating-won.png");
}


/*** download progress ***/

.download-progress {
  background-color: rgba(151,152,153,.05);
  background-image: linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%,
                                    rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3));
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.38);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset,
              0 0 0 2px rgba(255, 255, 255, 0.1) inset;
  width: 200px;
  height: 21px;
  margin: 0 8px;
}

.download-progress[mode="undetermined"] {
  border-color: #358942 #317F3D #2E773A;
}

.download-progress[mode="undetermined"] .status-container {
  padding: 0 2px;
}

.download-progress .start-cap,
.download-progress[complete] .end-cap,
.download-progress[mode="undetermined"] .end-cap,
.download-progress .progress .progress-bar {
  -moz-appearance: none;
  background-image: linear-gradient(#71CA83, #54B06C 49%, #43A05D 51%, #60BB76);
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: #358942 #317F3D #2E773A;
}

.download-progress .start-cap {
  margin-inline-start: -1px;
  border-inline-end-width: 0;
}

.download-progress .end-cap {
  margin-inline-end: -1px;
  border-inline-start: 0px !important;
}

.download-progress .progress .progress-bar  {
  border-left-width: 0;
  border-right-width: 0;
  min-height: 21px;
}

.download-progress .progress {
  -moz-appearance: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.download-progress .start-cap,
.download-progress .end-cap {
  width: 4px;
}

.download-progress .start-cap:-moz-locale-dir(ltr),
.download-progress .end-cap:-moz-locale-dir(rtl) {
  border-radius: 3px 0 0 3px;
}

.download-progress .end-cap:-moz-locale-dir(ltr),
.download-progress .start-cap:-moz-locale-dir(rtl) {
  border-radius: 0 3px 3px 0;
}

.download-progress .cancel {
  -moz-appearance: none;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3px;
  border-radius: 3px;
  min-width: 0;
  margin: 3px;
}

.download-progress .cancel:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.download-progress .cancel:active:hover {
  box-shadow: inset rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

.download-progress .cancel .button-box {
  padding: 0;
  border: none;
}

.download-progress .cancel .button-text {
  display: none;
}

.download-progress .cancel .button-icon {
  margin-inline-start: 0;
}

.download-progress .cancel {
  list-style-image: url('chrome://mozapps/skin/extensions/cancel.png');
}

.download-progress .status-container {
  -moz-box-align: center;
}

.download-progress .status {
  text-shadow: #FFF 0 0 2px;
}

/*** install status ***/

.install-status {
  -moz-box-align: center;
}


/*** check for updates ***/

#updates-container {
  -moz-box-align: center;
}

#updates-container .button-link {
  font-weight: bold;
}

#updates-installed,
#updates-downloaded {
  color: #00BB00;
  font-weight: bold;
}

#update-selected {
  margin: 12px;
}


/*** buttons ***/

.addon-control[disabled="true"] {
  display: none;
}

.button-link {
  -moz-appearance: none;
  background: transparent;
  border: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  min-width: 0;
  margin: 0 6px;
}

.button-link:focus {
  color: red;
  outline: 1px dotted;
}

.button-link:hover:active {
  color: red;
}

.button-link[visited="true"] {
  color: purple;
}

.header-button {
  margin: 2px;
  border: 6px solid;
  -moz-border-top-colors: transparent transparent transparent #000000 #BBC6D1 #B1BBC9;
  -moz-border-right-colors: transparent transparent transparent #000000 #A2AEBB #A7B4C1;
  -moz-border-bottom-colors: transparent transparent transparent #000000 #97A6B6 #9DAAB9;
  -moz-border-left-colors: transparent transparent transparent #000000 #BBC6D1 #B1BBC9;
  border-radius: 5px;
  background-color: #AAB6C4;
  background-clip: padding-box;
  color: #000000;
  font: menu;
}

.header-button:focus {
  -moz-border-top-colors: transparent #98A5B2 #98A5B2 #000000 #BBC6D1 #B1BBC9;
  -moz-border-right-colors: transparent #98A5B2 #98A5B2 #000000 #A2AEBB #A7B4C1;
  -moz-border-bottom-colors: transparent #98A5B2 #98A5B2 #000000 #97A6B6 #9DAAB9;
  -moz-border-left-colors: transparent #98A5B2 #98A5B2 #000000 #BBC6D1 #B1BBC9;
}

.header-button[disabled="true"] {
  -moz-border-top-colors: transparent transparent transparent #8290A5 #C6CDD7 #BCC5D1 !important;
  -moz-border-right-colors: transparent transparent transparent #8290A5 #A9B5C1 #B2BAC7 !important;
  -moz-border-bottom-colors: transparent transparent transparent #8290A5 #A9B5C1 #B2BAC7 !important;
  -moz-border-left-colors: transparent transparent transparent #8290A5 #C6CDD7 #BCC5D1 !important;
  background-color: #B7BFCB !important;
  color: #8C99AB !important;
}

.header-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.4;
}

.header-button:not([disabled="true"]):active:hover,
.header-button[open="true"] {
  -moz-border-top-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  -moz-border-right-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  -moz-border-bottom-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  -moz-border-left-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  background-color: #90A1B3;
  color: #FFFFFF;
}

.header-button:not([disabled="true"]):active:hover:focus,
.header-button[open="true"]:focus {
  -moz-border-top-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
  -moz-border-right-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
  -moz-border-bottom-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
  -moz-border-left-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
}

.header-button > .toolbarbutton-text {
  display: none;
}
