/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== bookmarksToolbar.css ===========================================
  == Styles specific to bookmark items in a toolbar.
  ======================================================================= */

@import url("chrome://communicator/skin/places/bookmarks.css");

/* ::::: bookmark toolbar buttons ::::: */

/* ..... bookmark items ..... */

toolbarbutton.bookmark-item {
  min-width: 0px;
  max-width: 13em;
}

toolbarbutton.bookmark-item:not([container="true"]) {
  -moz-appearance: none;
}

toolbarbutton.bookmark-item:not([container="true"]):not([disabled="true"]) {
  cursor: pointer;
}

toolbarbutton.bookmark-item:not([container="true"]):not([disabled="true"]):hover {
  text-decoration: underline;
  color: #0000FF;
}

toolbarbutton.bookmark-item[disabled="true"],
toolbarbutton.bookmark-item:not([container="true"]):hover,
toolbarbutton.bookmark-item:not([container="true"]):hover:active {
  border-color: transparent !important;
  background: transparent !important;
}

toolbarbutton.bookmark-item[disabled="true"] {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item-dis.png") !important;
}

toolbarbutton.bookmark-item[disabled="true"][container="true"] {
  list-style-image: url("chrome://communicator/skin/places/bookmark-folder-dis.png") !important;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* ..... drag and drop styles ..... */

#PlacesToolbarDropIndicator {
  list-style-image: url("chrome://communicator/skin/places/toolbarDropMarker.png");
}

toolbarbutton.bookmark-item[dragover="true"][open="true"] {
  background: Highlight !important;
  color: HighlightText !important;
}

/* ::::: bookmark menus ::::: */

menu.bookmark-item,
menuitem.bookmark-item {
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

.bookmark-item > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.menuitem-iconic.bookmark-item[disabled="true"] {
  list-style-image: url("chrome://communicator/skin/places/bookmark-item-dis.png");
}

.menu-iconic.bookmark-item[disabled="true"][container="true"] {
  list-style-image: url("chrome://communicator/skin/places/bookmark-folder-dis.png");
}

/* ..... drag and drop styles ..... */

/* rules for menupopup drop indicators */
.menupopup-drop-indicator-bar {
  position: relative;
  /* these two margins must together compensate the indicator's height */
  margin-top: -1px;
  margin-bottom: -1px;
}

.menupopup-drop-indicator {
  list-style-image: none;
  height: 2px;
  margin-inline-end: -4em;
  background-color: Highlight;
}
