/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== datetimepicker.css =============================================
  == Styles used by the XUL datepicker and timepicker elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

datepicker, timepicker {
  margin: 2px 4px;
  padding: 0;
  border: none;
  background: none;
  cursor: default;
}

.datetimepicker-input-box {
  -moz-appearance: textfield;
  cursor: text;
  margin-inline-end: 2px;
  border: 2px solid;
  -moz-border-top-colors: #BEC3D3 #5D616E;
  -moz-border-right-colors: #F8FAFE #5D616E;
  -moz-border-bottom-colors: #F8FAFE #5D616E;
  -moz-border-left-colors: #BEC3D3 #5D616E;
  padding: 2px 0 3px 0;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
  padding: 1px;
  background-color: #C7D0D9;
  color: #000000;
}

.datetimepicker-input-subbox {
  width: 1.6em;
}

html|*.datetimepicker-input {
  text-align: end;
}

.datetimepicker-separator {
  margin: 0 !important;
}

.datetimepicker-year {
  width: 3.2em;
}

datepicker[readonly="true"],
timepicker[readonly="true"] {
  background-color: #C7D0D9;
  color: -moz-DialogText;
}

datepicker[disabled="true"],
timepicker[disabled="true"] {
  cursor: default;
  background-color: #C7D0D9;
  color: GrayText;
}

.datepicker-mainbox {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #BEC3D3 #5D616E;
  -moz-border-right-colors: #F8FAFE #5D616E;
  -moz-border-bottom-colors: #F8FAFE #5D616E;
  -moz-border-left-colors: #BEC3D3 #5D616E;
  background-color: #C7D0D9;
  color: #000000;
}

.datepicker-popupgrid > .datepicker-mainbox {
  margin: 0;
  border: none;
}

.datepicker-gridlabel, .datepicker-weeklabel {
  text-align: center;
}

.datepicker-gridlabel[today="true"] {
  background-color: #C7D0D9;
  color: white;
}

.datepicker-gridlabel[selected="true"] {
  background-color: Highlight;
  color: HighlightText;
}

.datepicker-button {
  -moz-appearance: none;
  min-width: 8px;
  padding: 0px;
}

.datepicker-previous {
  list-style-image: url("chrome://global/skin/arrow/arrow-lft.png");
}

.datepicker-next {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit.png");
}

.datepicker-previous[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-lft-dis.png");
}

.datepicker-next[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit-dis.png");
}

.datepicker-previous:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit.png");
}

.datepicker-next:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/arrow/arrow-lft.png");
}

.datepicker-previous[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit-dis.png");
}

.datepicker-next[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/arrow/arrow-lft-dis.png");
}
