/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== filepicker.css =================================================
  == Styles used by the File Picker dialog.
  ======================================================================= */

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: column widths ::::: */

#FilenameColumn,
#ContentLengthColumn,
#LastModifiedDateColumn {
  width: 100px;
}

/* ::::: file/directory items ::::: */

treechildren::-moz-tree-image(treecolAutoCompleteValue),
treechildren::-moz-tree-image(FilenameColumn) {
  margin-inline-end: 2px;
}

treechildren::-moz-tree-image(treecolAutoCompleteValue, directory),
treechildren::-moz-tree-image(FilenameColumn, directory) {
  list-style-image: url("chrome://global/skin/filepicker/dir-closed.png");
}

treechildren::-moz-tree-image(treecolAutoCompleteValue, file),
treechildren::-moz-tree-image(FilenameColumn, file) {
  list-style-image: url("chrome://global/skin/filepicker/blank.png");
}

/* ::::: button items ::::: */

.up-button {
  list-style-image: url("chrome://global/skin/filepicker/folder-up.png");
  min-width: 0%; /* don't let XUL layout min-size override our max-width setting */
  min-height: 0%;
  max-width: 36px;
}

.home-button {
  list-style-image: url("chrome://global/skin/filepicker/folder-home.png");
  min-width: 0%; /* don't let XUL layout min-size override our max-width setting */
  min-height: 0%;
  max-width: 36px;
}

.new-dir-button {
  list-style-image: url("chrome://global/skin/filepicker/folder-new.png");
  min-width: 0%; /* don't let XUL layout min-size override our max-width setting */
  min-height: 0%;
  max-width: 36px;
}
