/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== listbox.css =======================================================
  == Styles used by XUL listbox-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: listbox ::::: */

listbox {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #BEC3D3 #5D616E;
  -moz-border-right-colors: #F8FAFE #5D616E;
  -moz-border-bottom-colors: #F8FAFE #5D616E;
  -moz-border-left-colors: #BEC3D3 #5D616E;
  background-color: #FFFFFF;
  color: #000000;
}

listbox[disabled="true"] {
  color: #999999;
}

/* ::::: listitem ::::: */

listitem {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

listbox:focus > listitem[current="true"] {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

listitem[selected="true"] {
  background-color: #C7D0D9;
  color: #000000;
}

listbox:focus > listitem[selected="true"] {
  background-color: #424F63;
  color: #FFFFFF;
}

listcell {
  padding-top: 0px;
  padding-bottom: 1px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
}

/* ::::: listcell checkbox ::::: */

.listcell-check {
  margin: 0px 2px;
  list-style-image: url("chrome://global/skin/checkbox/cbox.png");
}

.listcell-check[checked="true"] {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.png");
}

.listcell-check[disabled="true"] {
  border-color: #999999;
  list-style-image: url("chrome://global/skin/checkbox/cbox-dis.png");
}

.listcell-check[disabled="true"][checked="true"] {
  list-style-image: url("chrome://global/skin/checkbox/cbox-dis-check.png");
}

/* ::::: listheader ::::: */

listheader {
  -moz-box-align: center;
  border: 2px solid;
  -moz-border-top-colors: #EEF0F3 #C7D0D9;
  -moz-border-right-colors: #63676B #A5ABB0;
  -moz-border-bottom-colors: #63676B #A5ABB0;
  -moz-border-left-colors: #EEF0F3 #C7D0D9;
  padding: 0 4px;
  background-color: #C7D0D9;
  color: #000000;
}

listheader[sortable="true"]:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
  -moz-border-top-colors: #A5ABB0 #C7D0D9;
  -moz-border-right-colors: #A5ABB0;
  -moz-border-bottom-colors: #A5ABB0;
  -moz-border-left-colors: #A5ABB0 #C7D0D9;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-inline-start: 5px;
  padding-inline-end: 4px;
}

.listheader-icon {
  margin-inline-end: 2px;
}

.listheader-label {
  margin: 0px !important;
}

/* ..... sort direction icon ..... */

.listheader-sortdirection {
  list-style-image: none;
}

.listheader-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.png");
}

.listheader-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.png");
}

/* ::::: listcell ::::: */

.listcell-label {
  margin: 0px !important;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 0px;
  white-space: nowrap;
}

.listcell-icon {
  margin-inline-end: 2px;
}

.listcell-label[disabled="true"] {
  color: #999999;
}
