/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== scrollbars.css =================================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
  cursor: default;
}

/* ::::: slider ::::: */

slider {
  min-width: 15px;
  min-height: 15px;
  background: url("chrome://global/skin/scrollbar/slider-hrz.png") repeat-x;
}

slider[orient="vertical"] {
  background: url("chrome://global/skin/scrollbar/slider-vrt.png") repeat-y;
}

/* ::::: borders for thumb and buttons ::::: */

thumb,
scrollbarbutton {
  border: 3px solid;
  -moz-border-top-colors: #000000 #E4EBF2 #C3CAD2;
  -moz-border-right-colors: #000000 #8F9DAD #A4AFBB;
  -moz-border-bottom-colors: #000000 #8F9DAD #A4AFBB;
  -moz-border-left-colors: #000000 #E4EBF2 #C3CAD2;
  background: #B1BBC5 50% 50% no-repeat;
}

thumb:active {
  background-color: #C2CCD6;
  -moz-border-top-colors: #111111 #F5FCF3 #D4DBE3;
  -moz-border-right-colors: #111111 #9FAEBE #B5BFCC;
  -moz-border-bottom-colors: #111111 #9FAEBE #B5BFCC;
  -moz-border-left-colors: #111111 #D5FCF3 #D4DBE3;
}

%ifdef MOZ_WIDGET_GTK
scrollbarbutton[sbattr="scrollbar-up-bottom"],
scrollbarbutton[sbattr="scrollbar-down-top"] {
  display: none;
}

scrollbarbutton[sbattr="scrollbar-up-top"],
scrollbarbutton[sbattr="scrollbar-down-bottom"] {
  display: -moz-box !important;
}
%endif

/* ::::: thumb (horizontal) ::::: */

thumb {
  min-height: 18px;
  background-image: url("chrome://global/skin/scrollbar/thumb-vrt-grip.png");
}

thumb[orient="horizontal"] {
  min-width: 18px;
  background-image: url("chrome://global/skin/scrollbar/thumb-hrz-grip.png");
}

/* ::::: scrollbar button ::::: */

scrollbarbutton {
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
  -moz-box-flex: 1;
}

scrollbarbutton[disabled="true"],
scrollbarbutton[active="true"],
scrollbarbutton:hover:active {
  border-left-width: 2px;
  border-right-width: 2px;
  -moz-border-top-colors: #000000 #708092 #939FAD;
  -moz-border-right-colors: #000000 #718193 #9EA9B5;
  -moz-border-bottom-colors: #000000 #8795A4 #929EAC;
  -moz-border-left-colors: #000000 #ADB6C0 #9EA9B5;
  background-color: #9CA8B4;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner { 
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar-base");
  width: 15px;
  cursor: default;
  background-color: #B1BBC5;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  background-image: url("chrome://global/skin/scrollbar/btn-rit.png")
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  background-image: url("chrome://global/skin/scrollbar/btn-dn.png")
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
   background-image: url("chrome://global/skin/scrollbar/btn-lft.png")
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
   background-image: url("chrome://global/skin/scrollbar/btn-up.png")
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media print {

  /* ::::: slider ::::: */

  html|div slider {
    height: 15px;
    background: url("chrome://global/skin/scrollbar/slider-hrz.png") repeat-x;
  }

  html|div slider[orient="vertical"] {
    width: 15px;
    background: url("chrome://global/skin/scrollbar/slider-vrt.png") repeat-y;
  }

  /* ::::: borders for thumb and buttons ::::: */

  html|div thumb,
  html|div scrollbarbutton {
    border: 3px solid;
    -moz-border-top-colors: #000000 #E4EBF2 #C3CAD2;
    -moz-border-right-colors: #000000 #8F9DAD #A4AFBB;
    -moz-border-bottom-colors: #000000 #8F9DAD #A4AFBB;
    -moz-border-left-colors: #000000 #E4EBF2 #C3CAD2;
    background: #B1BBC5 50% 50% no-repeat;
  }

  html|div thumb:active {
    background-color: #C2CCD6;
    -moz-border-top-colors: #111111 #F5FCF3 #D4DBE3;
    -moz-border-right-colors: #111111 #9FAEBE #B5BFCC;
    -moz-border-bottom-colors: #111111 #9FAEBE #B5BFCC;
    -moz-border-left-colors: #111111 #D5FCF3 #D4DBE3;
  }

  /* ::::: thumb (horizontal) ::::: */

  html|div thumb {
    min-height: 18px;
    background-image: url("chrome://global/skin/scrollbar/thumb-vrt-grip.png");
  }

  html|div thumb[orient="horizontal"] {
    min-width: 18px;
    background-image: url("chrome://global/skin/scrollbar/thumb-hrz-grip.png");
  }

  /* ::::: scrollbar button ::::: */

  html|div scrollbarbutton {
    width: 15px;
    height: 15px;
  }

  html|div scrollbarbutton[disabled="true"],
  html|div scrollbarbutton[active="true"],   
  html|div scrollbarbutton:hover:active {
    border-left-width: 2px;
    border-right-width: 2px;
    -moz-border-top-colors: #000000 #708092 #939FAD;
    -moz-border-right-colors: #000000 #718193 #9EA9B5;
    -moz-border-bottom-colors: #000000 #8795A4 #929EAC;
    -moz-border-left-colors: #000000 #ADB6C0 #9EA9B5;
    background-color: #9CA8B4;
  }

  /* ..... increment .... */

  html|div scrollbarbutton[type="increment"] {
    background-image: url("chrome://global/skin/scrollbar/btn-rit.png")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
    background-image: url("chrome://global/skin/scrollbar/btn-dn.png")
  }

  /* ..... decrement .... */

  html|div scrollbarbutton[type="decrement"] {
     background-image: url("chrome://global/skin/scrollbar/btn-lft.png")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
     background-image: url("chrome://global/skin/scrollbar/btn-up.png")
  }

}
