/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tree.css ===================================================
  == Styles used by the XUL outline element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tree ::::: */

tree {
  margin: 0px 4px;
  border: 2px solid;
  -moz-border-top-colors: #BEC3D3 #5D616E;
  -moz-border-right-colors: #F8FAFE #5D616E;
  -moz-border-bottom-colors: #F8FAFE #5D616E;
  -moz-border-left-colors: #BEC3D3 #5D616E;
  background-color: #FFFFFF;
  color: #000000;
}

/* ::::: tree focusring ::::: */

.focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid transparent;  
}

.focusring:focus > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid #000000;
}

/* ::::: tree rows ::::: */

treechildren::-moz-tree-row {
  border: 1px solid transparent;
  background-color: transparent;
  min-height: 18px;
  height: 1.3em;
}

/* ::::: alternating background ::::: */
treechildren[alternatingbackground="true"]::-moz-tree-row(odd) {
  background-color: #f3f3f3;
}

treechildren[alternatingbackground="true"]::-moz-tree-row(odd, selected),
treechildren::-moz-tree-row(selected) {
  background-color: #C7D0D9;
}

treechildren[alternatingbackground="true"]::-moz-tree-row(odd, selected, focus),
treechildren::-moz-tree-row(selected, focus) {
  background-color: #424F63;
}

treechildren::-moz-tree-row(current, focus) {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

/* ::::: tree cells ::::: */

treechildren::-moz-tree-cell {
  padding: 0px 2px;
}

treechildren::-moz-tree-cell-text {
  color: inherit;
}

treechildren::-moz-tree-cell-text(selected) {
  color: #000000;
}

treechildren::-moz-tree-cell-text(selected, focus) {
  color: #FFFFFF;
}

/* ::::: lines connecting cells ::::: */

treechildren::-moz-tree-line {
  border: 1px dotted #808080;
}

treechildren::-moz-tree-line(selected, focus) {
  border: 1px dotted #FFFFFF;
}

/* ::::: tree separator ::::: */

treechildren::-moz-tree-separator {
  border-top: 1px solid #7A8490;
  border-bottom: 1px solid #FEFEFE;
}

/* ::::: drop feedback ::::: */

treechildren::-moz-tree-cell-text(primary, dropOn) {
  background-color: #424F63;
  color: #FFFFFF;
}

treechildren::-moz-tree-drop-feedback {
  background-color: #424F63;
  width: 50px;
  height: 2px;
  margin-inline-start: 5px;
}

/* ::::: tree checkbox ::::: */

treechildren::-moz-tree-checkbox {
  list-style-image: url("chrome://global/skin/tree/checkbox.png");
}

treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://global/skin/tree/checkbox-checked.png");
}

/* ::::: tree progress meter ::::: */

treechildren::-moz-tree-progressmeter {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #8997A1 #C7D0D9;
  -moz-border-right-colors: #E0ECF6 #C7D0D9;
  -moz-border-bottom-colors: #E0ECF6 #C7D0D9;
  -moz-border-left-colors: #8997A1 #C7D0D9;
  color: #6B7B8D;
}

treechildren::-moz-tree-progressmeter(progressUndetermined) {
  list-style-image: url("chrome://global/skin/progressmeter/progress-busy.png");
}

treechildren::-moz-tree-cell-text(progressmeter) {
  margin: 2px 4px;
 }

/* ::::: tree columns ::::: */

treecol,
treecolpicker {
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 2px solid;
  -moz-border-top-colors: #EEF0F3 #C7D0D9;
  -moz-border-right-colors: #63676B #A5ABB0;
  -moz-border-bottom-colors: #63676B #A5ABB0;
  -moz-border-left-colors: #EEF0F3 #C7D0D9;
  background-color: #C7D0D9;
  color: #000000;
  padding: 0px 4px;
  min-width: 19px;
}

.treecol-image {
  padding: 0px 1px;
}

.treecol-text {
  margin: 0px !important;
}

treecol[hideheader="true"] {
  border: none;
  padding: 0;
}

/* ..... internal box ..... */

treecol:hover:active,
treecolpicker:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
  -moz-border-top-colors: #A5ABB0 #C7D0D9;
  -moz-border-right-colors: #A5ABB0;
  -moz-border-bottom-colors: #A5ABB0;
  -moz-border-left-colors: #A5ABB0 #C7D0D9;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-inline-start: 5px;
  padding-inline-end: 4px;
}

.treecol-image:hover:active {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-inline-start: 2px;
  padding-inline-end: 1px;
}

/* ::::: column drag and drop styles ::::: */

treecol[dragging="true"] {
  -moz-border-top-colors: #000000 #90A1B3 !important;
  -moz-border-right-colors: #000000 #90A1B3 !important;
  -moz-border-bottom-colors: #000000 #90A1B3 !important;
  -moz-border-left-colors: #000000 #90A1B3 !important;
  background-color: #90A1B3 !important;
  color: #FFFFFF !important;
}

treecol[insertafter="true"]:-moz-locale-dir(ltr),
treecol[insertbefore="true"]:-moz-locale-dir(rtl) {
  -moz-border-right-colors: #000000 #666666;
}

treecol[insertafter="true"]:-moz-locale-dir(rtl),
treecol[insertbefore="true"]:-moz-locale-dir(ltr) {
  -moz-border-left-colors: #000000 #666666;
}

treechildren::-moz-tree-column(insertbefore) {
  border-inline-start: 1px solid #AAAAAA;
}

treechildren::-moz-tree-column(insertafter) {
  border-inline-end: 1px solid #AAAAAA;
}

/* ::::: sort direction indicator :::::  */

.treecol-sortdirection {
  list-style-image: none;
}

.treecol-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global-platform/skin/tree/sort-asc.png");
}

.treecol-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global-platform/skin/tree/sort-dsc.png");
}

/* ::::: column picker :::::  */

.tree-columnpicker-icon {
  list-style-image: url("chrome://global/skin/tree/columnpicker.png");
}

/* ::::: twisty :::::  */

treechildren::-moz-tree-twisty {
  padding-inline-end: 2px;
  width: 10px; /* The image's width is 10 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

treechildren::-moz-tree-twisty(open) {
  width: 10px; /* The image's width is 10 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

treechildren::-moz-tree-indentation {
  width: 16px;
}

/* ::::: editable tree ::::: */

treechildren::-moz-tree-row(selected, editing) {
  background-color: transparent;
}

treechildren::-moz-tree-cell-text(selected, editing) {
  color: inherit;
}

.tree-input {
  -moz-appearance: none;
  border: 1px solid #C7D0D9;
  -moz-border-top-colors: #C7D0D9;
  -moz-border-bottom-colors: #C7D0D9;
  -moz-border-left-colors: #C7D0D9;
  -moz-border-right-colors: #C7D0D9;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: -4px;
  margin-inline-end: 0px;
  padding: 1px;
}
